Repository h2oai/h2o-3, pull requests merged in 2018-07, with the labels that each got.

#2570 PUBDEV-5560: handle corner-cases consistently when creating H…
  h2o-py/h2o/expr.py
  h2o-py/h2o/frame.py
  h2o-py/h2o/utils/shared_utils.py
  h2o-py/tests/testdir_jira/pyunit_pubdev_5560.py
Labels: 4RELEASE

#2576 For Poisson family, add note about deviance being the negative log of the likelihood
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#2598 PUBDEV-5711: Fix group_by R example
  h2o-docs/src/product/data-munging/groupby.rst
Labels: docs

#2599 PUBDEV-5711-relwright: Fix group_by R example
  h2o-docs/src/product/data-munging/groupby.rst
Labels: docs

#2602 PUBDEV-5710-relwright: Fix R example for replacing values in a frame
  h2o-docs/src/product/data-munging/replacing-values.rst
Labels: docs

#2601 PUBDEV-5710: Fix R example for replacing values in a frame
  h2o-docs/src/product/data-munging/replacing-values.rst
Labels: docs

#2592 PUBDEV-5702-relwright: Updated description of function
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#2593 PUBDEV-5714: Added -report_hostname and -proxy to docs
  h2o-docs/src/product/welcome.rst
Labels: docs

#2595 Pavel pubdev 5654 rel wright
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostUtils.java
  h2o-py/tests/pyunit_utils/utilsPY.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_enum_binomial_compare_sparse_NOPASS.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_enum_multinomial_compare_sparse_NOPASS.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_mixed_binomial_compare_large_dense_NOPASS_multinode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_mixed_binomial_compare_large_sparse_NOPASS_multinode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_mixed_multinomial_compare_large_dense_NOPASS_multinode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_mixed_multinomial_compare_large_sparse_NOPASS_multinode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_mixed_regression_compare_large_dense_NOPASS_multinode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_mixed_regression_compare_large_sparse_NOPASS_multinode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_H2OXGBoost_native_XGBoost_numerical_binomial_compare_sparse_NOPASS.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_xgboost_zero_nan_handling_native_comparison.py
  tests/pyunitSingleNodeList
Labels: please review

#2541 PUBDEV-5576 - grid search from flow reports wrong cross validation auc
  h2o-core/src/main/java/hex/ScoringInfo.java
Labels: please review

#2590 Pavel pubdev 5576 bad scoring history rel wright
  h2o-core/src/main/java/hex/ScoringInfo.java
Labels: please review

#2589 PUBDEV-5688- GCS started in unauthorized regime when there is no conn…
  h2o-persist-gcs/src/main/java/water/persist/GcsStorageProvider.java
  h2o-persist-gcs/src/main/java/water/persist/PersistGcs.java
Labels: please review

#2594 PUBDEV-5714-relwright: Added -report_hostname and -proxy to docs
  h2o-docs/src/product/welcome.rst
Labels: docs

#2596 PUBDEV-5715: Amazon Redshift JDBC support
  h2o-docs/src/product/data-science/algo-params/start_column.rst
  h2o-docs/src/product/data-science/algo-params/stop_column.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/getting-data-into-h2o.rst
Labels: docs

#2614 PUBDEV-5612 XGBoost Crashes on Tesla
  h2o-genmodel-extensions/xgboost/build.gradle
Labels: 4RELEASE, please review

#2613 PUBDEV-5612 XGBoost Crashes on Tesla
  h2o-genmodel-extensions/xgboost/build.gradle
Labels: please review

#2617 PUBDEV-5721 - RMSE inserted twice into Scoringinfo for cross-validate…
  h2o-core/src/main/java/hex/ScoringInfo.java
  h2o-core/src/test/java/hex/ScoringInfoTest.java
Labels: 4RELEASE, please review

#2616 PUBDEV-5721 - RMSE inserted twice into Scoringinfo for cross-validate…
  h2o-core/src/main/java/hex/ScoringInfo.java
  h2o-core/src/test/java/hex/ScoringInfoTest.java
Labels: please review

#2621 PUBDEV-5672 - h2o-r : correct r docs for h2o.sum (#2553)
  h2o-py/h2o/frame.py
  h2o-r/h2o-package/R/frame.R
Labels: 4RELEASE

#2572 PUBDEV-5681: add docs to config parameter in h2o.connect
  h2o-r/h2o-package/R/connection.R
Labels: R, please review

#2622 ScoringInfoTest timestamp asserts respects timezone
  h2o-core/src/test/java/hex/ScoringInfoTest.java
Labels: 4RELEASE

#2629 PUBDEV-5726: Add CDH 5.9 to list of supported Hadoop platforms (relwright)
  h2o-docs/src/product/welcome.rst
Labels: docs

#2634 Rel-wright-PUBDEV-5727: GLRM bug causing difference between H2O predict and mojo predict
  h2o-algos/src/main/java/hex/glrm/GLRMModel.java
Labels: 4RELEASE

#2640 PUBDEV-5693: Added a note to GCP installs regarding quota limits
  h2o-docs/src/product/cloud-integration/google-compute.rst
Labels: docs

#2642 PUBDEV-5674: Add link to awesome-h2o repo in docs
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/welcome.rst
Labels: docs

#2663 PUBDEV-5731: Specify entire path when downloading MOJOs
  h2o-docs/src/product/mojo-quickstart.rst
  h2o-genmodel/src/main/java/overview.html
Labels: docs

#2662 PUBDEV-5694: Add info about supported version of XLS/XLSX (rel-wright)
  h2o-docs/src/front/index.html
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/getting-data-into-h2o.rst
Labels: docs

#2664 PUBDEV-5731: Specify entire path when downloading MOJOs (rel-wright)
  h2o-docs/src/product/productionizing.rst
  h2o-genmodel/src/main/java/overview.html
Labels: docs

#2661 PUBDEV-5694: Add info about supported version of XLS/XLSX
  h2o-docs/src/front/index.html
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/getting-data-into-h2o.rst
Labels: docs

#2652 Unused getdataRows method in XGBoostUtils removed
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostUtils.java
Labels: please review

#2677 PUBDEV-5762: Add loss_by_col and loss_by_col_idx options to GLRM documentation
  h2o-docs/src/product/data-science/glrm.rst
Labels: docs

#2672 Pavel pubdev 5720 xgboost cross validation
  h2o-core/src/test/java/hex/AUC2Test.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostModel.java
  h2o-extensions/xgboost/src/main/java/ml/dmlc/xgboost4j/java/XGBoostScoreTask.java
  h2o-extensions/xgboost/src/test/java/hex/tree/xgboost/XGBoostTest.java
Labels: 4RELEASE

#2678 PUBDEV-5752: H2O API port and the internal port don't have to be adjacent
  h2o-core/src/main/java/water/H2O.java
  h2o-core/src/main/java/water/H2ONode.java
  h2o-core/src/main/java/water/init/NetworkInit.java
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/hadoop/h2odriver.java
Labels: 4RELEASE

#2694 PUBDEV-5739: Expose mojo_predict_csv() and mojo_predict_pandas() as top level h2o functions (#2651)
  .gitignore
  h2o-py/h2o/__init__.py
  h2o-py/h2o/utils/shared_utils.py
  h2o-py/tests/testdir_misc/pyunit_mojo_predict.py
Labels: 4RELEASE

#2692 PUBDEV-5720: Port Pavel's fixes in XGB CV to rel-wright
  h2o-core/src/test/java/hex/AUC2Test.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostModel.java
  h2o-extensions/xgboost/src/main/java/ml/dmlc/xgboost4j/java/XGBoostScoreTask.java
  h2o-extensions/xgboost/src/test/java/hex/tree/xgboost/XGBoostTest.java
Labels: 4RELEASE

#2696 PUBDEV-5774: Document new port_offset Hadoop launch parameter
  h2o-docs/src/product/welcome.rst
Labels: docs
