Repository h2oai/h2o-3, pull requests merged in 2018-03, with the labels that each got.

#2104 PUBDEV-5324 - Make POJO log error messages for all wrong data types
  h2o-genmodel/src/main/java/hex/genmodel/easy/EasyPredictModelWrapper.java
  h2o-genmodel/src/main/java/hex/genmodel/easy/error/VoidErrorConsumer.java
  h2o-genmodel/src/test/java/hex/genmodel/easy/EasyPredictModelWrapperTest.java
Labels: 4RELEASE

#2105 PUBDEV-5330: Parquet Ingest Error when having too many characters/strings
  h2o-core/src/main/java/water/H2OConstants.java
  h2o-core/src/main/java/water/fvec/NewChunk.java
  h2o-core/src/test/java/water/TestUtil.java
  h2o-parsers/h2o-parquet-parser/src/main/java/water/parser/parquet/ChunkConverter.java
  h2o-parsers/h2o-parquet-parser/src/test/java/water/parser/parquet/ParseTestParquet.java
Labels: 4RELEASE

#2103 PUBDEV-5008: ordinal glm. Added support for ordinal glm using gradie…
  h2o-algos/src/main/java/hex/glm/ComputationState.java
  h2o-algos/src/main/java/hex/glm/GLM.java
  h2o-algos/src/main/java/hex/glm/GLMMetricBuilder.java
  h2o-algos/src/main/java/hex/glm/GLMModel.java
  h2o-algos/src/main/java/hex/glm/GLMScore.java
  h2o-algos/src/main/java/hex/glm/GLMTask.java
  h2o-algos/src/main/java/hex/optimization/ADMM.java
  h2o-algos/src/main/java/hex/schemas/GLMModelV3.java
  h2o-algos/src/main/java/hex/schemas/GLMV3.java
  h2o-algos/src/test/java/hex/glm/GLMBasicTestOrdinal.java
  h2o-algos/src/test/java/hex/glm/GLMTest.java
  h2o-algos/src/test/java/hex/tree/gbm/GBMTest.java
  h2o-bindings/bin/gen_R.py
  h2o-bindings/bin/gen_python.py
  h2o-core/src/main/java/hex/Model.java
  h2o-core/src/main/java/hex/ModelMetricsBinomialGLM.java
  h2o-core/src/main/java/hex/ModelMetricsOrdinal.java
  h2o-core/src/main/java/hex/ScoreKeeper.java
  h2o-core/src/main/java/hex/ScoringInfo.java
  h2o-core/src/main/java/hex/schemas/ModelBuilderSchema.java
  h2o-core/src/main/java/water/api/ModelMetricsHandler.java
  h2o-core/src/main/java/water/api/schemas3/CreateFrameV3.java
  h2o-core/src/main/java/water/api/schemas3/ModelMetricsBaseV3.java
  h2o-core/src/main/java/water/api/schemas3/ModelMetricsOrdinalGLMV3.java
  h2o-core/src/main/java/water/api/schemas3/ModelMetricsOrdinalV3.java
  h2o-core/src/main/java/water/api/schemas3/ModelOutputSchemaV3.java
  h2o-core/src/main/java/water/api/schemas3/ModelParametersSchemaV3.java
  h2o-core/src/main/java/water/fvec/Frame.java
  h2o-core/src/main/resources/META-INF/services/water.api.Schema
  h2o-genmodel/src/main/java/hex/ModelCategory.java
  h2o-genmodel/src/main/java/hex/genmodel/GenModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmMojoReader.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmOrdinalMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/easy/EasyPredictModelWrapper.java
  h2o-genmodel/src/main/java/hex/genmodel/easy/prediction/OrdinalModelPrediction.java
  h2o-genmodel/src/main/java/hex/genmodel/tools/PredictCsv.java
  h2o-genmodel/src/main/java/hex/genmodel/utils/DistributionFamily.java
  h2o-py/h2o/backend/connection.py
  h2o-py/h2o/estimators/estimator_base.py
  h2o-py/h2o/estimators/glm.py
  h2o-py/h2o/model/__init__.py
  h2o-py/h2o/model/metrics_base.py
  h2o-py/h2o/model/model_builder.py
  h2o-py/h2o/model/ordinal.py
  h2o-py/tests/pyunit_utils/utilsPY.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDVE_5008_glm_ordinal_large.py
  h2o-py/tests/testdir_javapredict/pyunit_pubdev_5008_ordinal_glm_mojo_pojo_large.py
  h2o-r/h2o-package/R/classes.R
  h2o-r/h2o-package/R/glm.R
  h2o-r/h2o-package/R/kvstore.R
  h2o-r/h2o-package/R/models.R
  h2o-r/tests/runitUtils/utilsR.R
  h2o-r/tests/testdir_algos/glm/runit_PUBDEV_5008_ordinal_glm_large.R
  h2o-r/tests/testdir_algos/glm/runit_PUBDEV_5008_ordinal_glm_nidhi_R.R
  h2o-r/tests/testdir_javapredict/runit_PUBDEV_5008_ordinal_glm_mojo_large_NOPASS.R
Labels: 4RELEASE

#2098 PUBDEV-5306-relwolpert: Document new "ordinal" family option in GLM
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/booklets/v2_2015/source/GLM_Vignette_code_examples/glm_ordinal_example.R
  h2o-docs/src/booklets/v2_2015/source/GLM_Vignette_code_examples/glm_ordinal_example.py
  h2o-docs/src/product/data-science/algo-params/family.rst
  h2o-docs/src/product/data-science/algo-params/link.rst
  h2o-docs/src/product/data-science/algo-params/y.rst
  h2o-docs/src/product/data-science/glm.rst
Labels: 4RELEASE, docs

#2087 PUBDEV-5306: Document new "ordinal" family option in GLM
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/booklets/v2_2015/source/GLM_Vignette_code_examples/glm_ordinal_example.R
  h2o-docs/src/booklets/v2_2015/source/GLM_Vignette_code_examples/glm_ordinal_example.py
  h2o-docs/src/product/data-science/algo-params/family.rst
  h2o-docs/src/product/data-science/algo-params/link.rst
  h2o-docs/src/product/data-science/algo-params/y.rst
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#2126 PUBDEV-5154: Document new pca_impl parameter
  h2o-docs/src/product/data-science/algo-params/pca_impl.rst
  h2o-docs/src/product/data-science/pca.rst
  h2o-docs/src/product/parameters.rst
  h2o-py/tests/testdir_algos/pca/pyunit_pubdev_4961_pca_implementations.py
Labels: docs

#2132 PUBDEV-5369: Add CDH 5.14 to list of supported Hadoop platforms (rel-wolpert)
  h2o-docs/src/product/welcome.rst
Labels: docs

#2075 PUBDEV-5324 & PUBDEV-5383 - Make POJO log error messages for all wrong data types
  h2o-genmodel/src/main/java/hex/genmodel/easy/EasyPredictModelWrapper.java
  h2o-genmodel/src/main/java/hex/genmodel/easy/error/CountingErrorConsumer.java
  h2o-genmodel/src/main/java/hex/genmodel/easy/error/VoidErrorConsumer.java
  h2o-genmodel/src/test/java/hex/genmodel/easy/EasyPredictModelWrapperTest.java
Labels: BREAKING-JAVA-API

#2151 [PUBDEV-5403] Fix wrong comment in h2odriver
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/hadoop/h2odriver.java
Labels: 4RELEASE

#2159 PUBDEV-5407: Doc fix for importing files from HDFS
  h2o-docs/src/product/data-munging/importing-data.rst
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#2160 PUBDEV-5407 (rel-wolpert): Doc fix for importing files from HDFS
  h2o-docs/src/product/data-munging/importing-data.rst
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#2076 [PUBDEV-3901] Python MOJO predictions
  h2o-py/h2o/backend/server.py
  h2o-py/h2o/utils/__init__.py
  h2o-py/h2o/utils/shared_utils.py
  h2o-py/tests/testdir_misc/pyunit_mojo_predict.py
Labels: WIP

#2164 [WIP-ITA-253] Reduce size of archived files
  scripts/jenkins/groovy/buildConfig.groovy
  scripts/jenkins/groovy/buildH2O3.groovy
  scripts/jenkins/groovy/defaultStage.groovy
  scripts/jenkins/groovy/makeTarget.groovy
  scripts/jenkins/groovy/pipelineUtils.groovy
  scripts/jenkins/groovy/xgbGPUStage.groovy
  scripts/jenkins/jenkinsfiles/Jenkinsfile-Release
Labels: WIP

#1984 PUBDEV-5164: Add more info to checkpoint parameter in docs
  h2o-docs/src/product/checkpointing-models.rst
  h2o-docs/src/product/data-science/algo-params/checkpoint.rst
  h2o-docs/src/product/index.rst
Labels: docs

#2195 PUBDEV-5241(rel-wolpert): H2O Documentation link on download site should point to docs.h2o.ai
  h2o-dist/buildinfo.json
Labels: docs

#2206 PUBDEV-5432 (rel-wolpert): Add new functions to R documentation
  h2o-r/h2o-package/docs/reference/H2OModelMetrics-class.html
  h2o-r/h2o-package/docs/reference/h2o-package.html
  h2o-r/h2o-package/docs/reference/h2o.aggregator.html
  h2o-r/h2o-package/docs/reference/h2o.arrange.html
  h2o-r/h2o-package/docs/reference/h2o.coxph.html
  h2o-r/h2o-package/docs/reference/h2o.gbm.html
  h2o-r/h2o-package/docs/reference/h2o.glm.html
  h2o-r/h2o-package/docs/reference/h2o.grid.html
  h2o-r/h2o-package/docs/reference/h2o.merge.html
  h2o-r/h2o-package/docs/reference/h2o.prcomp.html
  h2o-r/h2o-package/docs/reference/h2o.randomForest.html
  h2o-r/h2o-package/docs/reference/h2o.stackedEnsemble.html
  h2o-r/h2o-package/docs/reference/h2o.xgboost.html
  h2o-r/h2o-package/docs/reference/index.html
  h2o-r/h2o-package/pkgdown/_pkgdown.yml
Labels: docs

#2207 PUBDEV-5432: Add new functions to R HTML docs
  h2o-r/h2o-package/docs/reference/H2OModelMetrics-class.html
  h2o-r/h2o-package/docs/reference/h2o-package.html
  h2o-r/h2o-package/docs/reference/h2o.aggregator.html
  h2o-r/h2o-package/docs/reference/h2o.arrange.html
  h2o-r/h2o-package/docs/reference/h2o.coxph.html
  h2o-r/h2o-package/docs/reference/h2o.gbm.html
  h2o-r/h2o-package/docs/reference/h2o.glm.html
  h2o-r/h2o-package/docs/reference/h2o.grid.html
  h2o-r/h2o-package/docs/reference/h2o.merge.html
  h2o-r/h2o-package/docs/reference/h2o.prcomp.html
  h2o-r/h2o-package/docs/reference/h2o.randomForest.html
  h2o-r/h2o-package/docs/reference/h2o.stackedEnsemble.html
  h2o-r/h2o-package/docs/reference/h2o.xgboost.html
  h2o-r/h2o-package/docs/reference/index.html
  h2o-r/h2o-package/pkgdown/_pkgdown.yml
Labels: docs

#2209 Pavel pubdev 5336 rel wheeler
  h2o-core/src/main/java/water/rapids/ast/prims/operators/AstBinOp.java
  h2o-core/src/main/java/water/rapids/ast/prims/operators/AstEq.java
  h2o-py/tests/testdir_jira/pyunit_pubdev_5336.py
Labels: 4RELEASE

#2180 PUBDEV-5409 - Take care of quotes inside quoted string.
  h2o-core/src/main/java/water/parser/CsvParser.java
  h2o-core/src/test/java/water/parser/ParserTest2.java
Labels: please review

#2175 PUBDEV-5416 (rel-wolpert) Doc update for XRTs
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/data-science/algo-params/histogram_type.rst
  h2o-docs/src/product/data-science/drf.rst
Labels: docs

#2225 PUBDEV-5416: Doc update for XRTs
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/data-science/algo-params/histogram_type.rst
  h2o-docs/src/product/data-science/drf.rst
Labels: docs

#2224 PUBDEV-5413 (rel-wolpert): Updates to ordinal family description
  h2o-docs/src/product/data-science/algo-params/solver.rst
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/images/ordinal_equation.png
Labels: docs

#2227 PUBDEV-5413-booklet-relwolpert: Updated GLM booklet
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/booklets/v2_2015/source/images/ordinal_equation.png
Labels: docs

#2228 PUBDEV-5413-booklet: Updates to GLM booklet
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/booklets/v2_2015/source/images/ordinal_equation.png
Labels: docs

#2189 PUBDEV-5413: Updates to ordinal family description
  h2o-docs/src/product/data-science/algo-params/solver.rst
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/images/ordinal_equation.png
Labels: docs
