Repository h2oai/h2o-3, pull requests merged in 2018-11, with the labels that each got.

#2979 Removed hadoop modules derived from driverjar.gradle which have effectively no added value
  h2o-hadoop/assemblyjar.gradle
  h2o-hadoop/driverjar.gradle
  h2o-hadoop/h2o-cdh5.10/build.gradle
  h2o-hadoop/h2o-cdh5.13/build.gradle
  h2o-hadoop/h2o-cdh5.14/build.gradle
  h2o-hadoop/h2o-cdh5.4/build.gradle
  h2o-hadoop/h2o-cdh5.5/build.gradle
  h2o-hadoop/h2o-cdh5.6/build.gradle
  h2o-hadoop/h2o-cdh5.7/build.gradle
  h2o-hadoop/h2o-cdh5.8/build.gradle
  h2o-hadoop/h2o-cdh5.9/build.gradle
  h2o-hadoop/h2o-hdp2.2/build.gradle
  h2o-hadoop/h2o-hdp2.3/build.gradle
  h2o-hadoop/h2o-hdp2.4/build.gradle
  h2o-hadoop/h2o-hdp2.5/build.gradle
  h2o-hadoop/h2o-hdp2.6/build.gradle
  h2o-hadoop/h2o-iop4.2/build.gradle
  h2o-hadoop/h2o-mapr4.0/build.gradle
  h2o-hadoop/h2o-mapr5.0/build.gradle
  h2o-hadoop/h2o-mapr5.1/build.gradle
  h2o-hadoop/h2o-mapr5.2/build.gradle
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/hadoop/H2OYarnDiagnostic.java
  h2o-hadoop/h2o-yarn-generic/build.gradle
  settings.gradle
Labels: please review

#3002 Update docs site with recent changes - rel-xia
  h2o-docs/src/front/index.html
Labels: docs

#3001 Update docs site with recent changes
  h2o-docs/src/front/index.html
Labels: docs

#2999 PUBDEV-6012: Do not include weights_column in list of predictors
  h2o-docs/src/product/data-science/algo-params/weights_column.rst
Labels: docs

#3000 PUBDEV-6012-relxia: Do not include weights_column in list of predictors
  h2o-docs/src/product/data-science/algo-params/weights_column.rst
Labels: docs

#2980 Adds name parameter to Python and R init methods
  h2o-py/h2o/backend/connection.py
  h2o-py/h2o/backend/server.py
  h2o-py/h2o/h2o.py
  h2o-py/tests/testdir_apis/H2O_Module/pyunit_h2oinit.py
  h2o-r/h2o-package/R/classes.R
  h2o-r/h2o-package/R/communication.R
  h2o-r/h2o-package/R/connection.R
Labels: R, enhancement, python

#3009 PUBDEV-6031-relxia: Removed note indicating offset columns can only b…
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
Labels: docs

#3008 PUBDEV-6031: Removed note indicating offset columns can only be used f…
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
Labels: docs

#3012 Docs: Updated links to blogs (rel-xia)
  h2o-docs/src/product/data-science/deep-learning.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-docs/src/product/faq/algorithms.rst
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/productionizing.rst
  h2o-docs/src/product/welcome.rst
Labels: docs

#3011 Docs: Updated links to blogs
  h2o-docs/src/product/data-science/deep-learning.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-docs/src/product/faq/algorithms.rst
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/productionizing.rst
  h2o-docs/src/product/welcome.rst
Labels: docs

#2934 [ITA-350] Add init tests for all supported Javas for Py and R.
  docker/Jenkinsfile-build-docker
  docker/Makefile
  docker/jenkins-images/Dockerfile-jdk-others
  docker/scripts/install_java_version_local
  docker/scripts/java-10-vars.sh
  docker/scripts/java-11-vars.sh
  scripts/jenkins/groovy/buildConfig.groovy
  scripts/jenkins/groovy/defineTestStages.groovy
Labels: ITA

#3026 PUBDEV-6041: Removed "experimental" from coordinate_descent
  h2o-algos/src/main/java/hex/schemas/GLMV3.java
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/tutorials/datascience/DataScienceH2O-Dev.md
  h2o-py/h2o/estimators/glm.py
  h2o-r/h2o-package/R/glm.R
Labels: docs

#3029 PUBDEV-5261: Allow custom_metric to be used for early stopping
  h2o-core/src/main/java/hex/ScoreKeeper.java
  h2o-core/src/main/java/water/api/schemas3/ModelParametersSchemaV3.java
  h2o-py/h2o/estimators/deeplearning.py
  h2o-py/h2o/estimators/deepwater.py
  h2o-py/h2o/estimators/gbm.py
  h2o-py/h2o/estimators/random_forest.py
  h2o-py/h2o/estimators/xgboost.py
  h2o-py/tests/testdir_algos/gbm/pyunit_custom_stopping.py
  h2o-r/h2o-package/R/deeplearning.R
  h2o-r/h2o-package/R/deepwater.R
  h2o-r/h2o-package/R/gbm.R
  h2o-r/h2o-package/R/randomforest.R
  h2o-r/h2o-package/R/xgboost.R
Labels: WIP

#3036 [BUILD] Hotfix git issues.
  scripts/jenkins/groovy/buildConfig.groovy
  scripts/jenkins/groovy/pipelineContext.groovy
Labels: ITA

#3044 [FLOW-PUBDEV-6050] Swap precision and recall.
  h2o-web/bower.json
Labels: Flow

#3045 JDBC test improvement - keep derby tempfiles inside build
  h2o-core/src/test/java/water/jdbc/SQLManagerIntegTest.java
  h2o-core/src/test/java/water/jdbc/SQLManagerTest.java
Labels: please review

#3050 [BUILD] Fix jar names in test-package-java.
  scripts/jenkins/Makefile.jenkins
Labels: ITA

#3049 Python/R name and log_dir/level parameters
  h2o-py/h2o/backend/connection.py
  h2o-py/h2o/backend/server.py
  h2o-py/h2o/h2o.py
  h2o-py/tests/testdir_apis/H2O_Module/pyunit_h2oinit.py
  h2o-r/h2o-package/R/classes.R
  h2o-r/h2o-package/R/communication.R
  h2o-r/h2o-package/R/connection.R
Labels: R, enhancement, python

#3051 PUBDEV-6054 - Fixed unclosed leaked socket in RabitWorker
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoost.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/rabit/RabitTrackerH2O.java
  h2o-py/tests/testdir_algos/xgboost/stress/pyunit_xgboost_airlines_stress.py
  scripts/jenkins/Makefile.jenkins
  scripts/jenkins/groovy/defineTestStages.groovy
  tests/pyunitXGBoostStressTest
  tests/pyunitXGBoostStressTestList
Labels: 4RELEASE, please review

#3063 PUBDEV-6064: Add default value for max_depth in IsoFor
  h2o-docs/src/product/data-science/algo-params/max_depth.rst
  h2o-docs/src/product/data-science/algo-params/sample_size.rst
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/if.rst
  h2o-docs/src/product/parameters.rst
  h2o-r/h2o-package/pkgdown/_pkgdown.yml
Labels: docs

#3064 PUBDEV-6051: Update docs site with Isolation Forest and new resource …
  h2o-docs/src/front/index.html
Labels: docs

#3059 PUBDEV-5937 - XGBoost error handling changes
  h2o-core/src/main/java/hex/Model.java
  h2o-core/src/main/java/water/util/FileUtils.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoost.java
  h2o-extensions/xgboost/src/main/java/ml/dmlc/xgboost4j/java/XGBoostUpdater.java
  h2o-persist-hdfs/src/main/java/water/persist/PersistHdfs.java
Labels: please review

#2650 PUBDEV-3216: Documentation for Performance and Predictions section
  h2o-docs/src/booklets/v2_2015/source/GBMBooklet.tex
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/howto/MOJO_QuickStart.md
  h2o-docs/src/product/howto/POJO_QuickStart.md
  h2o-docs/src/product/images/absolute_error.png
  h2o-docs/src/product/images/data_split.png
  h2o-docs/src/product/images/data_split_old.png
  h2o-docs/src/product/images/drf.png
  h2o-docs/src/product/images/gbm.png
  h2o-docs/src/product/images/lorenz_curve.png
  h2o-docs/src/product/images/node.png
  h2o-docs/src/product/images/node_old.png
  h2o-docs/src/product/images/single_tree.png
  h2o-docs/src/product/images/single_tree_old.png
  h2o-docs/src/product/images/squared_error.png
  h2o-docs/src/product/images/squared_error2.png
  h2o-docs/src/product/images/squared_error_old.png
  h2o-docs/src/product/images/varimp.png
  h2o-docs/src/product/images/varimp_old.png
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/mojo-quickstart.rst
  h2o-docs/src/product/performance-and-prediction.rst
  h2o-docs/src/product/pojo-quickstart.rst
  h2o-docs/src/product/variable-importance.rst
Labels: docs

#3073 [xia] PUBDEV-5766: Add monotonicity constraints to H2O XGBoost
  h2o-bindings/bin/gen_python.py
  h2o-core/src/main/java/hex/KeyValue.java
  h2o-core/src/main/java/water/api/schemas3/KeyValueV3.java
  h2o-core/src/main/resources/META-INF/services/water.api.Schema
  h2o-extensions/xgboost/src/main/java/hex/schemas/XGBoostV3.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoost.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostModel.java
  h2o-extensions/xgboost/src/main/java/ml/dmlc/xgboost4j/java/XGBoostModelInfo.java
  h2o-extensions/xgboost/src/main/java/ml/dmlc/xgboost4j/java/XGBoostScoreTask.java
  h2o-extensions/xgboost/src/test/java/hex/tree/xgboost/XGBoostModelTest.java
  h2o-extensions/xgboost/src/test/java/hex/tree/xgboost/XGBoostTest.java
  h2o-py/h2o/backend/connection.py
  h2o-py/h2o/estimators/xgboost.py
  h2o-py/h2o/grid/grid_search.py
  h2o-py/h2o/utils/shared_utils.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_xgboost_monotone.py
  h2o-r/h2o-package/R/constants.R
  h2o-r/h2o-package/R/models.R
  h2o-r/h2o-package/R/xgboost.R
  h2o-r/tests/testdir_algos/xgboost/runit_XGBoost_monotone.R
Labels: 4RELEASE

#3075 PUBDEV-6086: Add monotone_constraints to XGBoost chapter
  h2o-docs/src/product/data-science/if.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-docs/src/product/flow.rst
Labels: 4RELEASE, docs

#3072 PUBDEV-3216-rel-xia: Adding Performance & Prediction and Variable Imp…
  h2o-docs/src/booklets/v2_2015/source/GBMBooklet.tex
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/howto/MOJO_QuickStart.md
  h2o-docs/src/product/howto/POJO_QuickStart.md
  h2o-docs/src/product/images/absolute_error.png
  h2o-docs/src/product/images/data_split.png
  h2o-docs/src/product/images/data_split_old.png
  h2o-docs/src/product/images/drf.png
  h2o-docs/src/product/images/gbm.png
  h2o-docs/src/product/images/lorenz_curve.png
  h2o-docs/src/product/images/node.png
  h2o-docs/src/product/images/node_old.png
  h2o-docs/src/product/images/single_tree.png
  h2o-docs/src/product/images/single_tree_old.png
  h2o-docs/src/product/images/squared_error.png
  h2o-docs/src/product/images/squared_error2.png
  h2o-docs/src/product/images/squared_error_old.png
  h2o-docs/src/product/images/varimp.png
  h2o-docs/src/product/images/varimp_old.png
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/mojo-quickstart.rst
  h2o-docs/src/product/performance-and-prediction.rst
  h2o-docs/src/product/pojo-quickstart.rst
  h2o-docs/src/product/variable-importance.rst
Labels: 4RELEASE, docs

#3074 PUBDEV-6060: Description of sample_rate in Isolation Forest is misleading
  h2o-algos/src/main/java/hex/schemas/DRFV3.java
  h2o-algos/src/main/java/hex/schemas/GBMV3.java
  h2o-algos/src/main/java/hex/schemas/IsolationForestV3.java
  h2o-algos/src/main/java/hex/schemas/SharedTreeV3.java
  h2o-algos/src/main/java/hex/tree/isofor/IsolationForest.java
  h2o-py/h2o/estimators/isolation_forest.py
  h2o-r/h2o-package/R/isolationforest.R
Labels: 4RELEASE
