Repository h2oai/h2o-3, pull requests merged in 2018-06, with the labels that each got.

#2460 PUBDEV-5579: Initial checkin of CoxPH documentation
  h2o-docs/src/product/data-science.rst
  h2o-docs/src/product/data-science/algo-params/ignored_columns.rst
  h2o-docs/src/product/data-science/algo-params/interaction_pairs.rst
  h2o-docs/src/product/data-science/algo-params/interactions.rst
  h2o-docs/src/product/data-science/algo-params/model_id.rst
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
  h2o-docs/src/product/data-science/algo-params/start_column.rst
  h2o-docs/src/product/data-science/algo-params/stop_column.rst
  h2o-docs/src/product/data-science/algo-params/stopping_metric.rst
  h2o-docs/src/product/data-science/algo-params/ties.rst
  h2o-docs/src/product/data-science/algo-params/training_frame.rst
  h2o-docs/src/product/data-science/algo-params/use_all_factor_levels.rst
  h2o-docs/src/product/data-science/algo-params/weights_column.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-docs/src/product/parameters.rst
  h2o-docs/src/product/welcome.rst
Labels: docs

#2467 PUBDEV-4977: Removed note stating that Java 9 is not supported
  h2o-docs/src/product/welcome.rst
Labels: docs

#2469 Initial checkin of installing H2O from the Google Cloud Offering
  h2o-docs/src/product/cloud-integration.rst
  h2o-docs/src/product/cloud-integration/gcs.rst
  h2o-docs/src/product/cloud-integration/google-compute.rst
  h2o-docs/src/product/images/google_cloud_launcher.png
  h2o-docs/src/product/images/google_deploy_compute_engine.png
  h2o-docs/src/product/images/google_deploy_summary.png
  h2o-docs/src/product/images/google_driverlessai_offering.png
  h2o-docs/src/product/images/google_h2o_offering.png
Labels: docs

#2330 Doc updates for GLRM MOJO project
  h2o-docs/src/product/faq/general.rst
  h2o-docs/src/product/productionizing.rst
  h2o-genmodel/src/main/java/overview.html
Labels: docs

#2474 PUBDEV-5610: Proxy Mode of h2odriver doesn't support notification file
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/hadoop/h2odriver.java
Labels: 4RELEASE

#2471 PUBDEV-5598: -proxy does not work in the h2odriver.args file
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/hadoop/h2odriver.java
Labels: 4RELEASE

#2470 PUBDEV-5611 Jetty 9 breaks h2odriver proxy mode
  h2o-core/build.gradle
  h2o-core/src/main/java/org/eclipse/jetty/plus/jaas/spi/LdapLoginModule.java
  h2o-core/src/main/java/water/AbstractHTTPD.java
  h2o-core/src/main/java/water/DelegatingAuthenticator.java
  h2o-core/src/main/java/water/JettyHTTPD.java
  h2o-core/src/test/java/water/api/CustomHttpFilterTest.java
  h2o-docs/src/product/security.rst
  h2o-extensions/authsupport/build.gradle
  h2o-extensions/authsupport/src/main/java/ai/h2o/org/eclipse/jetty/jaas/spi/LdapLoginModule.java
  h2o-extensions/authsupport/src/main/java/ai/h2o/org/eclipse/jetty/plus/jaas/spi/LdapLoginModule.java
  h2o-hadoop/driverjar.gradle
  h2o-hadoop/h2o-mapreduce-generic/build.gradle
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/JettyProxy.java
  h2o-hadoop/h2o-mapreduce-generic/src/main/java/water/ProxyStarter.java
Labels: 4RELEASE

#2475 PUBDEV-5611: Use proxy mode in Hadoop tests
  scripts/jenkins/groovy/hadoopStage.groovy
Labels: 4RELEASE

#2481 Added documentation for mojo part for GBM/DRF and GLRM.
  h2o-docs/src/product/productionizing.rst
  h2o-genmodel/src/main/java/overview.html
Labels: 4RELEASE, docs

#2477 PUBDEV-5551 - NaN representation tests
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostUtils.java
  h2o-py/tests/testdir_algos/xgboost/pyunit_xgboost_zero_nan_handling_native_comparison.py
Labels: 4RELEASE

#2331 XGBoost tested on large airlines_all dataset with number of trees lim…
  h2o-py/tests/testdir_algos/xgboost/pyunit_airlines_all_multinode_large.py
Labels: 4RELEASE

#2433 [PUBDEV-5495] Improve error message while running GLM with gamma dist. and the response_column contains 0.
  h2o-algos/src/main/java/hex/glm/GLM.java
  h2o-py/tests/testdir_jira/pyunit_pubdev_5495_glm_gamma_error_message.py
Labels: 4RELEASE

#2487 PUBDEV-5603: CoxPH parameter issue: change `iter_max` to `max_iterations`
  h2o-algos/src/main/java/hex/coxph/CoxPH.java
  h2o-algos/src/main/java/hex/coxph/CoxPHModel.java
  h2o-algos/src/main/java/hex/schemas/CoxPHV3.java
  h2o-r/h2o-package/R/coxph.R
Labels: 4RELEASE

#2489 PUBDEV-5401: Add link to Hive tutorial in docs
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/data-science/algo-params/max_iterations.rst
  h2o-docs/src/product/data-science/algo-params/stopping_metric.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/getting-data-into-h2o.rst
  h2o-docs/src/product/images/Flow_model_dropdown.png
Labels: 4RELEASE, docs

#2486 remove r2 early stopping metric
  h2o-core/src/main/java/hex/Model.java
  h2o-core/src/main/java/hex/ModelBuilder.java
  h2o-core/src/main/java/hex/ScoreKeeper.java
  h2o-core/src/main/java/hex/ScoringInfo.java
  h2o-core/src/main/java/hex/schemas/HyperSpaceSearchCriteriaV99.java
  h2o-core/src/main/java/water/api/schemas3/ModelParametersSchemaV3.java
  h2o-py/h2o/estimators/deeplearning.py
  h2o-py/h2o/estimators/deepwater.py
  h2o-py/h2o/estimators/estimator_base.py
  h2o-py/h2o/estimators/gbm.py
  h2o-py/h2o/estimators/random_forest.py
  h2o-py/h2o/estimators/xgboost.py
  h2o-py/tests/testdir_jira/pyunit_pubdev_5397_r2_early_stop_NOFEATURE.py
  h2o-r/h2o-package/R/deeplearning.R
  h2o-r/h2o-package/R/deepwater.R
  h2o-r/h2o-package/R/gbm.R
  h2o-r/h2o-package/R/models.R
  h2o-r/h2o-package/R/randomforest.R
  h2o-r/h2o-package/R/xgboost.R
  h2o-r/tests/testdir_jira/runit_pubdev_5397_r2_early_stop_NOFEATURE.R
Labels: 4RELEASE

#2170 PUBDEV-5377: Expose balance_classes & related args in AutoML
  h2o-automl/src/main/java/ai/h2o/automl/AutoML.java
  h2o-automl/src/main/java/ai/h2o/automl/AutoMLBuildSpec.java
  h2o-automl/src/main/java/water/automl/api/schemas3/AutoMLBuildSpecV99.java
  h2o-automl/src/test/java/ai/h2o/automl/AutoMLTest.java
  h2o-core/src/main/java/water/util/PojoUtils.java
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/data-science/algo-params/balance_classes.rst
  h2o-docs/src/product/data-science/algo-params/class_sampling_factors.rst
  h2o-docs/src/product/data-science/algo-params/max_after_balance_size.rst
  h2o-py/h2o/automl/autoh2o.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_args.py
  h2o-r/h2o-package/R/automl.R
  h2o-r/tests/testdir_algos/automl/runit_automl_args.R
Labels: 4RELEASE

#2490 Fix typo glrm mojo
  h2o-genmodel/src/main/java/hex/genmodel/easy/EasyPredictModelWrapper.java
  h2o-genmodel/src/main/java/hex/genmodel/tools/PredictCsv.java
  h2o-py/tests/pyunit_utils/utilsPY.py
Labels: 4RELEASE

#2505 Fixed the Python command for starting H2O-3 with google offering
  h2o-docs/src/product/cloud-integration/google-compute.rst
Labels: docs

#2514 PUBDEV-5622: Replace 'calibrate_frame' with 'calibration_frame' in docs
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/data-science/algo-params/calibrate_model.rst
  h2o-docs/src/product/data-science/algo-params/calibration_frame.rst
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/parameters.rst
Labels: docs

#2515 PUBDEV-5622 rel-wright: Replace 'calibrate_frame' with 'calibration_frame' in docs
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/cloud-integration/google-compute.rst
  h2o-docs/src/product/data-science/algo-params/calibrate_model.rst
  h2o-docs/src/product/data-science/algo-params/calibration_frame.rst
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/parameters.rst
Labels: docs

#2498 PUBDEV-5590 - Argument to limit number of sessions for import_sql_table
  h2o-core/build.gradle
  h2o-core/src/main/java/water/jdbc/SQLManager.java
  h2o-core/src/test/java/water/jdbc/SQLManagerTest.java
Labels: please review

#2525 PUBDEV-5619 rel-wright: Updated AutoML Flow screenshot in User Guide
  h2o-docs/src/front/index.html
  h2o-docs/src/product/data-science/aggregator.rst
  h2o-docs/src/product/data-science/algo-params/max_after_balance_size.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/images/Flow_RunAutoML.png
  h2o-docs/src/product/images/GainsLift.png
Labels: docs

#2524 PUBDEV-5619: Update AutoML Flow screenshot in User Guide
  h2o-docs/src/front/index.html
  h2o-docs/src/product/data-science/aggregator.rst
  h2o-docs/src/product/data-science/algo-params/max_after_balance_size.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/images/Flow_RunAutoML.png
  h2o-docs/src/product/images/GainsLift.png
Labels: docs

#2537 PUBDEV-4505: Adding Java and Scala examples for MOJOs
  h2o-docs/src/product/data-science/gbm-faq/scoring.rst
  h2o-docs/src/product/mojo-quickstart.rst
  h2o-docs/src/product/pojo-quick-start.rst
  h2o-docs/src/product/pojo-quickstart.rst
  h2o-docs/src/product/productionizing.rst
Labels: docs

#2543 PUBDEV-5641: Remove "udp" from H2O-3 UG
  h2o-docs/src/product/cloud-integration/ec2-and-s3.rst
  h2o-docs/src/product/faq/clusters.rst
  h2o-docs/src/product/faq/general-troubleshooting.rst
  h2o-docs/src/product/faq/hadoop.rst
  h2o-docs/src/product/howto/FAQ.md
  h2o-docs/src/product/howto/H2O-DevHadoop.md
  h2o-docs/src/product/howto/H2O-DevS3Creds.md
  h2o-docs/src/product/security.rst
Labels: docs

#2542 PUBDEV-5664: Remove Sparkling-Water documentation from H2O-3 UG
  h2o-docs/StyleGuide.md
  h2o-docs/src/product/cloud-integration.rst
  h2o-docs/src/product/cloud-integration/aws.rst
  h2o-docs/src/product/cloud-integration/azure-hdi.rst
  h2o-docs/src/product/cloud-integration/databricks.rst
  h2o-docs/src/product/data-science/deep-learning.rst
  h2o-docs/src/product/tutorials/datascience/DataScienceH2O-Dev.md
  h2o-docs/src/product/welcome.rst
Labels: docs
