Repository h2oai/h2o-3, pull requests merged in 2018-02, with the labels that each got.

#2033 PUBDEV-5312: Document that multi-node support in XGBoost is beta
  h2o-docs/src/product/data-science/algo-params/categorical_encoding.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#2047 PUBDEV-5292: Adding beta_constraints and prior to UG parameters
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/product/data-science/algo-params/beta_constraints.rst
  h2o-docs/src/product/data-science/algo-params/compute_p_values.rst
  h2o-docs/src/product/data-science/algo-params/prior.rst
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/parameters.rst
Labels: docs

#2048 PUBDEV-5292 for rel-wolpert: adding beta_constraints and prior to UG
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/product/data-science/algo-params/beta_constraints.rst
  h2o-docs/src/product/data-science/algo-params/compute_p_values.rst
  h2o-docs/src/product/data-science/algo-params/prior.rst
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/parameters.rst
Labels: docs

#2055 PUBDEV-5294 - XGBoost model in Flow doesn't seem to converge
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostModel.java
Labels: 4RELEASE

#2049 PUBDEV-5233: add first batch of Hadoop tests of distributed XGBoost
  h2o-py/tests/testdir_hdfs/index.list
  h2o-py/tests/testdir_hdfs/pyunit_INTERNAL_XGBoostEstimation.py
  h2o-r/tests/testdir_algos/xgboost/runit_INTERNAL_XGBoostEstimation.R
  h2o-r/tests/testdir_algos/xgboost/runit_INTERNAL_XGBoost_186KRows_3.2KCols_xlarge.R
  h2o-r/tests/testdir_algos/xgboost/runit_INTERNAL_XGBoost_376KRows_6KCols_xlarge.R
Labels: 4RELEASE, WIP

#2059 PUBDEV-5326 - Bug in ParseTime which leads to parse failing
  h2o-core/src/main/java/water/parser/ParseTime.java
  h2o-core/src/main/java/water/util/Log.java
  h2o-core/src/test/java/water/parser/ParseTimeTest.java
Labels: 4RELEASE

#2056 PUBDEV-5301
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoost.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/XGBoostUtils.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/rabit/RabitTrackerH2O.java
  h2o-extensions/xgboost/src/main/java/hex/tree/xgboost/rabit/util/LinkMap.java
  h2o-extensions/xgboost/src/test/java/hex/tree/xgboost/rabit/util/LinkMapTest.java
Labels: 4RELEASE

#2060 PUBDEV-5313: doc update for categorical_encoding in xgboost
  h2o-docs/src/product/data-science/algo-params/categorical_encoding.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: 4RELEASE, docs

#2061 PUBDEV-5313: Update categorical_encoding for xgboost
  h2o-docs/src/product/data-science/algo-params/categorical_encoding.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: 4RELEASE, docs

#2029 PUBDEV-5308 - adding target encoding function in R
  h2o-r/demos/rdemo.target_encode.R
  h2o-r/h2o-package/R/frame.R
  h2o-r/tests/testdir_misc/runit_target_encode.R
Labels: R

#2089 PUBDEV-5349: Update model dropdown screen in Flow chapter
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/images/Flow_Model_RunAutoML.png
  h2o-docs/src/product/images/Flow_model_dropdown.png
Labels: docs
