Repository h2oai/h2o-3, pull requests merged in 2020-07, with the labels that each got.

#4695 PUBDEV-5025: Add print method for AutoML and fill Stacked Ensemble when retrieved using getModel
  h2o-bindings/bin/custom/R/gen_stackedensemble.py
  h2o-r/h2o-package/R/classes.R
  h2o-r/h2o-package/R/stackedensemble.R
  h2o-r/tests/testdir_algos/automl/runit_automl_summary.R
  h2o-r/tests/testdir_algos/stackedensemble/runit_stackedensemble_getModel.R
Labels: AutoML, R, please review

#4444 PUBDEV-5808: Add max_runtime_secs to Stacked Ensemble
  h2o-algos/src/main/java/hex/ensemble/Metalearner.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsemble.java
  h2o-algos/src/main/java/hex/schemas/StackedEnsembleV99.java
  h2o-bindings/bin/custom/R/gen_stackedensemble.py
  h2o-bindings/bin/custom/python/gen_stackedensemble.py
  h2o-core/src/main/java/hex/ModelBuilder.java
  h2o-docs/src/product/data-science/algo-params/max_runtime_secs.rst
  h2o-docs/src/product/data-science/stacked-ensembles.rst
  h2o-docs/src/product/flow/packs/test-small/stackedensemble_weather.flow
  h2o-py/h2o/estimators/stackedensemble.py
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_max_runtime_secs.py
  h2o-r/h2o-package/R/stackedensemble.R
  h2o-r/tests/testdir_algos/stackedensemble/runit_stackedensemble_max_runtime_secs.R
Labels: Flow, R, please review, python

#4769 PUBDEV-7648: Update documentation regarding AUTO option for the family parameter of GLM
  h2o-docs/src/product/data-science/algo-params/family.rst
  h2o-docs/src/product/data-science/algo-params/link.rst
  h2o-docs/src/product/data-science/gam.rst
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#4764 PUBDEV-7655: Add documentation for `gainslift_bins`
  h2o-bindings/bin/custom/python/gen_drf.py
  h2o-bindings/bin/custom/python/gen_gbm.py
  h2o-bindings/bin/custom/python/gen_naivebayes.py
  h2o-bindings/bin/custom/python/gen_xgboost.py
  h2o-docs/src/product/data-science/algo-params/gainslift_bins.rst
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/naive-bayes.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-docs/src/product/parameters.rst
  h2o-docs/src/product/performance-and-prediction.rst
  h2o-py/h2o/estimators/gbm.py
  h2o-py/h2o/estimators/naive_bayes.py
  h2o-py/h2o/estimators/random_forest.py
  h2o-py/h2o/estimators/xgboost.py
  h2o-py/h2o/model/binomial.py
Labels: docs

#4775 PUBDEV-7639: Document new "Contamination" parameter in Isolation Forest
  h2o-docs/src/product/data-science/if.rst
Labels: docs

#4781 PUBDEV-7679: Document 'negativebinomial' Value on the Family Page
  h2o-docs/src/product/data-science/algo-params/family.rst
Labels: docs

#4780 PUBDEV-7680: added `modified_huber` & `ordinal` to distribution.rst
  h2o-docs/src/product/data-science/algo-params/distribution.rst
Labels: docs

#4784 PUBDEV-7682: Docs - GLRM parameter fixes
  h2o-docs/src/product/data-science/glrm.rst
Labels: docs

#4559 PUBDEV-4916: add weights_column parameter to Stacked Ensemble
  h2o-algos/src/main/java/hex/ensemble/Metalearner.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsemble.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-algos/src/main/java/hex/schemas/StackedEnsembleV99.java
  h2o-bindings/bin/custom/python/gen_stackedensemble.py
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
  h2o-docs/src/product/data-science/algo-params/weights_column.rst
  h2o-docs/src/product/data-science/stacked-ensembles.rst
  h2o-docs/src/product/flow.rst
  h2o-py/h2o/estimators/stackedensemble.py
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_base_models.py
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_offset_column.py
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_weights_column.py
  h2o-r/h2o-package/R/stackedensemble.R
  h2o-r/tests/testdir_algos/stackedensemble/runit_stackedensemble_weights_column.R
Labels: R, algos, enhancement, please review, python

#4790 PUBDEV-7651 - Remove deprecated h2o-scala module
  build.gradle
  gradle/README.md
  gradle/scala.gradle
  h2o-docs/src/product/api-changes.rst
  h2o-scala/README.md
  h2o-scala/build.gradle
  h2o-scala/src/main/scala/water/fvec/FrameOps.scala
  h2o-scala/src/main/scala/water/fvec/H2OFrame.scala
  h2o-scala/src/main/scala/water/udf/MoreColumns.scala
  h2o-scala/src/test/scala/water/BasicTest.scala
  h2o-scala/src/test/scala/water/Test0.scala
  h2o-scala/src/test/scala/water/fvec/FrameOpsTest.scala
  h2o-scala/src/test/scala/water/udf/ScalaUdfTest.scala
  h2o-scala/testMultiNode.sh
  make-dist.sh
  scripts/jenkins/Makefile.jenkins
  scripts/jenkins/jenkinsfiles/Jenkinsfile-Release
  settings.gradle
Labels: breaking api change

#4788 PUBDEV-7684: Add monotonicity to StackedEnsemble in User Guide
  h2o-docs/src/product/data-science/stacked-ensembles.rst
Labels: docs

#4804 PUBDEV-7694: Release notes for 3.30.0.7
  Changes.md
Labels: docs

#4797 PUBDEV-7556: Add sklearn integration section to the User Guide
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/h2o-client.rst
  h2o-docs/src/product/index.rst
Labels: docs

#4808 PUBDEV-7656: Update GAM and GLM for early stopping support
  h2o-docs/src/product/data-science/algo-params/stopping_metric.rst
  h2o-docs/src/product/data-science/algo-params/stopping_rounds.rst
  h2o-docs/src/product/data-science/algo-params/stopping_tolerance.rst
  h2o-docs/src/product/data-science/early_stopping.rst
  h2o-docs/src/product/data-science/gam.rst
  h2o-docs/src/product/data-science/glm.rst
Labels: docs
