Repository h2oai/h2o-3, pull requests merged in 2020-06, with the labels that each got.

#4664 PUBDEV-7583: Release notes for 3.30.0.4 release
  Changes.md
Labels: 4RELEASE

#4666 PUBDEV-7217: Add information about print_mojo to Productionizing chapter; add print_mojo example to Python docs
  h2o-docs/src/product/mojo-quickstart.rst
  h2o-py/h2o/h2o.py
Labels: docs

#4665 PUBDEV-7586 - Create official Docker hub image
  docker/public/Dockerfile-h2o-release
  scripts/jenkins/Makefile.jenkins
  scripts/jenkins/jenkinsfiles/Jenkinsfile-Release
Labels: please review

#4671 PUBDEV-7587: Improvements to Performance and Prediction chapter
  h2o-docs/src/product/images/pdp_ageVmean.png
  h2o-docs/src/product/images/pdp_multinomial.png
  h2o-docs/src/product/images/pdp_raceVmean.png
  h2o-docs/src/product/performance-and-prediction.rst
Labels: docs

#4663 PUBDEV-7144: Add examples for saving and loading grids and for parallelism to User Guide
  h2o-docs/src/product/grid-search.rst
Labels: docs

#4707 Docs: Add info about 2D-PDP and multiclass PDP
  h2o-docs/src/product/performance-and-prediction.rst
Labels: docs

#4708 PUBDEV-7616: Propagate warnings from ModelBuilder in Python
  h2o-py/h2o/estimators/estimator_base.py
Labels: WIP, python

#4651 PUBDEV-7567: Enable using imported models as base models in Stacked Ensembles
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_base_models.py
Labels: algos, please review

#4710 Python Doc update: Adding persist module to the docs
  h2o-py/docs/data.rst
  h2o-py/h2o/persist/persist.py
Labels: docs, python

#4725 Docs: Remove links to Scaladoc from the User Guide
  h2o-docs/src/front/index.html
  h2o-docs/src/product/api-reference.rst
  h2o-docs/src/product/conf.py
  h2o-docs/src/product/flow/SiteIntro.md
  h2o-docs/src/product/welcome.rst
  make-dist.sh
Labels: Build, docs

#4696 PUBDEV-7603: In Python docs, add examples for Grid Metrics
  h2o-py/h2o/grid/grid_search.py
  h2o-py/h2o/grid/metrics.py
Labels: docs

#4723 PUBDEV-7589: Doc updates for AutoML Random Grid Search parameters section
  h2o-docs/src/product/automl.rst
Labels: docs

#4731 PUBDEV-7626: Fix value of T described in enum_limited. This is set to 10, not 1024.
  h2o-docs/src/product/data-science/aggregator.rst
  h2o-docs/src/product/data-science/algo-params/categorical_encoding.rst
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/if.rst
  h2o-docs/src/product/data-science/k-means.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#4733 PUBDEV-7624: Release notes for 3.30.0.5 release
  Changes.md
Labels: 4RELEASE

#4737 Clarification in docs for balance_classes in automl and for supported POJOs
  h2o-docs/src/product/automl.rst
  h2o-docs/src/product/pojo-quickstart.rst
  h2o-genmodel/src/main/java/overview.html
Labels: docs

#4741 PUBDEV-7631: HGLM Python Example Should Reference 'random_columns' by Indices
  h2o-docs/src/product/data-science/algo-params/hglm.rst
  h2o-docs/src/product/data-science/algo-params/rand_family.rst
  h2o-docs/src/product/data-science/algo-params/random_columns.rst
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/parameters.rst
Labels: docs

#4745 Fix test-r-cmd-check-as-cran for automl show method
  h2o-r/h2o-package/R/classes.R
Labels: R

#4643 Updated gbmTuning.ipynb tutorial for newer version of Python and H2O
  h2o-docs/src/product/tutorials/gbm/best_gbm1.png
  h2o-docs/src/product/tutorials/gbm/best_gbm2.png
  h2o-docs/src/product/tutorials/gbm/final_grid.png
  h2o-docs/src/product/tutorials/gbm/gbmTuning.ipynb
Labels: docs, please review

#4757 PUBDEV-7650: Release notes for 3.30.0.6 release
  Changes.md
  h2o-docs/src/product/conf.py
Labels: 4RELEASE

#4755 PUBDEV-7625: Add documentation for Kolmogorov-Smirnov metric
  h2o-docs/src/product/data-science/drf.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/naive-bayes.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-docs/src/product/performance-and-prediction.rst
  h2o-r/h2o-package/R/models.R
  h2o-r/h2o-package/pkgdown/_pkgdown.yml
Labels: 4RELEASE, docs
