Repository h2oai/h2o-3, pull requests merged in 2020-05, with the labels that each got.

#4526 PUBDEV-4343: updated R example for stacked ensemble
  h2o-docs/src/product/data-science/stacked-ensembles.rst
Labels: docs

#4573 PUBDEV-7500: Improve documentation for Quantiles in the User Guide
  h2o-docs/src/product/data-science.rst
  h2o-docs/src/product/data-science/early_stopping.rst
  h2o-docs/src/product/data-science/quantiles.rst
Labels: docs

#4524 PUBDEV-7463: Speed up training and prediction of Stacked Ensemble
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-algos/src/main/java/hex/schemas/StackedEnsembleV99.java
  h2o-algos/src/test/java/hex/ensemble/StackedEnsembleTest.java
  h2o-py/h2o/estimators/stackedensemble.py
  h2o-r/h2o-package/R/stackedensemble.R
Labels: algos, enhancement, please review

#4584 PUBDEV-7505: Update default value for min_split_improvement parameter
  h2o-docs/src/product/data-science/algo-params/min_split_improvement.rst
Labels: docs

#4586 Fix issue introduced in PUBDEV-7463 that causes some SE related tests to fail
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
Labels: algos

#4592 PUBDEV-7519: Remove old docs "front" page from the h2o-3 build
  h2o-docs/src/front/README.md
  make-dist.sh
Labels: Build

#4593 PUBDEV-7520: Update the h2o-3 docs readme
  h2o-docs/README.md
  h2o-docs/src/dev/README.md
Labels: docs

#4601 Add back in datasest from erin-data bucket for the 10k train dataset
  h2o-docs/src/product/data-science/stacked-ensembles.rst
Labels: docs

#4597 PUBDEV-6003: Adding Hyperparameter tables to AutoML
  h2o-docs/src/product/automl.rst
Labels: docs

#4582 PUBDEV-7504: Make sure user gets a warning when trying to get varimp from Stacked Ensemble
  h2o-r/h2o-package/R/models.R
  h2o-r/tests/testdir_algos/stackedensemble/runit_stackedensemble_variable_importance.R
Labels: R, algos, please review, python

#4515 PUBDEV-7362: Fixed merge error
  h2o-core/src/main/java/water/rapids/BinaryMerge.java
  h2o-core/src/main/java/water/rapids/Merge.java
  h2o-core/src/main/java/water/rapids/RadixCount.java
  h2o-core/src/main/java/water/rapids/RadixOrder.java
  h2o-core/src/main/java/water/rapids/SingleThreadRadixOrder.java
  h2o-core/src/main/java/water/rapids/SplitByMSBLocal.java
  h2o-core/src/main/java/water/rapids/ast/prims/mungers/AstMerge.java
  h2o-py/tests/testdir_munging/pyunit_pubdev_7362_big_merge_large.py
  h2o-r/tests/runitUtils/utilsR.R
  h2o-r/tests/testdir_jira/runit_PUBDEV_7362_merge_duplicate_others.R
  scripts/jenkins/groovy/defineTestStages.groovy
Labels: please review

#4628 PUBDEV-7554: R docs: Add back in "destination_frame" parameter
  h2o-bindings/bin/custom/R/gen_aggregator.py
  h2o-bindings/bin/custom/R/gen_glm.py
  h2o-r/h2o-package/R/aggregator.R
  h2o-r/h2o-package/R/export.R
  h2o-r/h2o-package/R/frame.R
  h2o-r/h2o-package/R/glm.R
  h2o-r/h2o-package/R/import.R
  h2o-r/h2o-package/pkgdown/_pkgdown.yml
Labels: docs

#4620 PUBDEV-7454: Make get_leaderboard work for re-attached H2OAutoML object
  h2o-py/h2o/automl/_h2o_automl_output.py
  h2o-py/h2o/automl/autoh2o.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_get_automl.py
  h2o-r/h2o-package/R/automl.R
  h2o-r/tests/testdir_algos/automl/runit_automl_get_automl.R
Labels: AutoML, R, please review, python

#4566 PUBDEV-7491: Enable using quantile and other distributions in SE
  h2o-algos/src/main/java/hex/ensemble/Metalearner.java
  h2o-algos/src/main/java/hex/ensemble/Metalearners.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsemble.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-algos/src/main/java/hex/schemas/StackedEnsembleV99.java
  h2o-algos/src/test/java/hex/ensemble/StackedEnsembleTest.java
  h2o-extensions/xgboost/src/main/java/hex/ensemble/XGBoostMetalearnerProvider.java
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_distributions.py
Labels: algos, please review

#4634 PUBDEV-7549: Suppress data.table warning messages inside h2o.automl() in R
  h2o-r/h2o-package/R/automl.R
  h2o-r/h2o-package/R/frame.R
Labels: AutoML, R, please review

#4627 PUBDEV-7547: Create an additional StackedEnsemble only from monotonically constrained models
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-automl/src/test/java/ai/h2o/automl/AutoMLTest.java
  h2o-automl/src/test/java/ai/h2o/automl/ModelingStepRegistryTest.java
  h2o-py/tests/testdir_algos/automl/pyunit_automl_interpretability.py
Labels: AutoML, please review

#4641 PUBDEV-7525: A couple of small doc updates for CUDA support in XGBoost
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#4646 Fix test-r-cmd-check-as-cran
  h2o-r/h2o-package/R/frame.R
Labels: please review

#4600 PUBDEV-6250 Mutliclass PDP
  h2o-core/src/main/java/hex/PartialDependence.java
  h2o-core/src/main/java/water/api/schemas3/PartialDependenceV3.java
  h2o-py/demos/PDP_y_scaling.ipynb
  h2o-py/demos/pdp_multiclass.ipynb
  h2o-py/h2o/model/model_base.py
  h2o-py/tests/testdir_misc/pyunit_partial_plots.py
  h2o-py/tests/testdir_misc/pyunit_partial_plots_multinomial.py
  h2o-r/h2o-package/R/models.R
  h2o-r/tests/testdir_jira/runit_pubdev_4897.R
  h2o-r/tests/testdir_misc/runit_partialPlot.R
  h2o-web/bower.json
Labels: 4RELEASE

#4647 PUBDEV-7574: monotone_constraints can now be used with distribution=tweedie
  h2o-docs/src/product/data-science/algo-params/monotone_constraints.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#4658 PUBDEV-7585: Minor doc update. Add the removed XGBoost params to API-related Changes
  h2o-docs/src/product/api-changes.rst
  h2o-docs/src/product/conf.py
Labels: 4RELEASE, docs

#4661 PUBDEV-7576: Doc updates to PDP topics
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/performance-and-prediction.rst
Labels: 4RELEASE, docs

#4639 PUBDEV-7518: Add topic for Training Models
  h2o-docs/src/product/data-munging.rst
  h2o-docs/src/product/data-munging/change-column-type.rst
  h2o-docs/src/product/data-science.rst
  h2o-docs/src/product/data-science/glrm.rst
  h2o-docs/src/product/data-science/if.rst
  h2o-docs/src/product/data-science/k-means.rst
  h2o-docs/src/product/data-science/stacked-ensembles.rst
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/mojo-quickstart.rst
  h2o-docs/src/product/training-models.rst
Labels: 4RELEASE, docs

#4617 PUBDEV-7531: Docs - Minio instance configuration
  h2o-docs/src/product/cloud-integration/ec2-and-s3.rst
Labels: docs

#4657 Fix leaking vec in DropDuplicateRows
  h2o-core/src/main/java/water/rapids/ast/prims/filters/dropduplicates/DropDuplicateRows.java
  h2o-core/src/test/java/water/rapids/ast/prims/filters/dropduplicates/AstDropDuplicatesTest.java
Labels: 4RELEASE

#4656 Rename monotonic SE from PUBDEV-7547
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-automl/src/test/java/ai/h2o/automl/ModelingStepRegistryTest.java
  h2o-py/tests/testdir_algos/automl/pyunit_automl_interpretability.py
Labels: please review
