Repository h2oai/h2o-3, pull requests merged in 2020-01, with the labels that each got.

#4170 [PUBDEV-6762] automate execution of testdir_hdfs tests
  docker/Jenkinsfile-build-hadoop-docker
  docker/hadoop/cdh/Dockerfile
  docker/hadoop/edge_node/Dockerfile
  docker/hadoop/hdp/Dockerfile
  h2o-hadoop-common/tests_multinode/python/pyunit_xgboost_reproducibility.py
  h2o-hadoop-common/tests_multinode/readme.txt
  h2o-py/test_hadoop/pyunit_hadoop.py
  scripts/jenkins/Makefile.jenkins
  scripts/jenkins/groovy/buildConfig.groovy
  scripts/jenkins/groovy/defineTestStages.groovy
  scripts/jenkins/groovy/hadoopMultinodeStage.groovy
  scripts/jenkins/jenkinsfiles/Jenkinsfile-HadoopMultiNode
Labels: please review

#4179 Remove "Migrating to H2O-3" section; driveby fix for heading underlining in GLM
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/migrating.rst
  h2o-docs/src/product/welcome.rst
Labels: docs

#4182 PUBDEV-6142: Remove ignored_columns from list of available parameters in AutoML
  h2o-docs/src/product/automl.rst
Labels: docs

#4183 PUBDEV-7155: Clarify Max F1 threshold for performance() and predict()
  h2o-docs/src/product/performance-and-prediction.rst
Labels: docs

#4178 PUBDEV-7175: Change copyright year in the docs from "2016-2019" to "2016-2020"
  h2o-docs/src/product/conf.py
  h2o-py/docs/conf.py
Labels: docs

#4188 Fixed typos for related parameters in exclude_algos and include_algos
  h2o-docs/src/product/conf.py
  h2o-docs/src/product/data-science/algo-params/exclude_algos.rst
  h2o-docs/src/product/data-science/algo-params/include_algos.rst
  h2o-py/h2o/grid/grid_search.py
Labels: docs

#4194 Fix H2O_Load.R - missing comma in list of files.
  h2o-r/H2O_Load.R
Labels: please review

#4180 PUBDEV-6993: Fix link to SW topic in the Java FAQ
  h2o-docs/src/product/faq/java.rst
Labels: docs

#4196 PUBDEV-7188: FAQs are now headers that can be linked to directly
  h2o-docs/src/product/data-science/gbm-faq/about_the_data.rst
  h2o-docs/src/product/data-science/gbm-faq/build_first_tree.rst
  h2o-docs/src/product/data-science/gbm-faq/cross_validation.rst
  h2o-docs/src/product/data-science/gbm-faq/default_values.rst
  h2o-docs/src/product/data-science/gbm-faq/generated_metrics.rst
  h2o-docs/src/product/data-science/gbm-faq/histograms_and_binning.rst
  h2o-docs/src/product/data-science/gbm-faq/missing_values.rst
  h2o-docs/src/product/data-science/gbm-faq/preprocessing_steps.rst
  h2o-docs/src/product/data-science/gbm-faq/reproducibility.rst
  h2o-docs/src/product/data-science/gbm-faq/scoring.rst
  h2o-docs/src/product/data-science/gbm-faq/splitting.rst
  h2o-docs/src/product/data-science/gbm-faq/tuning_a_gbm.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/faq/algorithms.rst
  h2o-docs/src/product/faq/building-h2o.rst
  h2o-docs/src/product/faq/clusters.rst
  h2o-docs/src/product/faq/data.rst
  h2o-docs/src/product/faq/flow.rst
  h2o-docs/src/product/faq/general-troubleshooting.rst
  h2o-docs/src/product/faq/general.rst
  h2o-docs/src/product/faq/hadoop.rst
  h2o-docs/src/product/faq/java.rst
  h2o-docs/src/product/faq/python.rst
  h2o-docs/src/product/faq/r.rst
  h2o-docs/src/product/faq/sparkling-water.rst
Labels: docs

#4173 PUBDEV-7165 - Expose Spearman's Rho to Py/R
  h2o-core/src/main/java/water/api/ImportSQLTableHandler.java
  h2o-core/src/main/java/water/rapids/Env.java
  h2o-core/src/main/java/water/rapids/ast/prims/advmath/AstCorrelation.java
  h2o-core/src/main/java/water/rapids/ast/prims/advmath/SpearmanCorrelation.java
  h2o-core/src/main/java/water/util/EnumUtils.java
  h2o-core/src/main/java/water/util/PojoUtils.java
  h2o-core/src/test/java/water/rapids/RapidsTest.java
  h2o-py/h2o/frame.py
  h2o-py/tests/testdir_munging/unop/pyunit_cor.py
  h2o-r/h2o-package/R/frame.R
  h2o-r/tests/testdir_munging/unop/runit_cor_spearman.R
Labels: please review

#4199 PUBDEV-7191: Add FAQ for GC allocation failure
  h2o-docs/src/product/faq/clusters.rst
Labels: docs

#4200 Doc: Adding back in specific API-related changes in H2O-3 after deleting Migration chapter
  h2o-docs/src/product/api-changes.rst
  h2o-docs/src/product/index.rst
  h2o-docs/src/product/welcome.rst
Labels: docs

#4201 PUBDEV-7191b: Add FAQ for GC allocation failure
  h2o-docs/src/product/faq/clusters.rst
Labels: docs

#4210 PUBDEV-7198: Corrections to Stacked Ensemble docs - metalearner support is in latest version & spelling errors
  h2o-docs/src/product/data-science/stacked-ensembles.rst
Labels: docs

#4207 PUBDEV-7197 - Parallel GS threads should call Hyperspace iterator one…
  h2o-core/src/main/java/hex/grid/GridSearch.java
Labels: please review

#4202 PUBDEV-7069 - Protection against non-valid(BAD) types in DKVClearTask
  h2o-core/src/main/java/water/DKVManager.java
Labels: WIP

#4163 PUBDEV-7159: GLM booklet update - HGLM
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#4227 PUBDEV-7212 - Rank vectors of Spearman correlation might have differe…
  h2o-core/src/main/java/water/rapids/ast/prims/advmath/SpearmanCorrelation.java
Labels: please review

#4229 PUBDEV-7214: Add offset_column to XGBoost
  h2o-docs/src/product/data-science/algo-params/offset_column.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/data-science/deep-learning.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/glm.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#4220 PUBDEV-7201: sklearn wrappers should expose wrapped estimator as a public property
  h2o-py/h2o/sklearn/wrapper.py
  h2o-py/tests/testdir_sklearn/pyunit_sklearn_automl_pipeline.py
  h2o-py/tests/testdir_sklearn/pyunit_sklearn_params.py
Labels: 4RELEASE, please review, python

#4222 PUBDEV-7194: warn user if validation frame is set with CV enabled
  h2o-automl/src/main/java/ai/h2o/automl/AutoML.java
  h2o-automl/src/main/java/ai/h2o/automl/events/EventLogEntry.java
  h2o-py/tests/testdir_algos/automl/pyunit_automl_args.py
Labels: 4RELEASE, please review

#4223 PUBDEV-7196: do not train BestOfFamily Ensemble if there's only 1 family.
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStep.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-automl/src/test/java/ai/h2o/automl/AutoMLTest.java
  h2o-py/tests/testdir_algos/automl/pyunit_automl_memory_cleanup.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_model_selection.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_reruns.py
  h2o-r/tests/testdir_algos/automl/runit_automl_args.R
  h2o-r/tests/testdir_algos/automl/runit_automl_model_selection.R
Labels: 4RELEASE, please review

#4241 PUBDEV-7221: Python examples for plot method on binomial models use wrong method signature
  h2o-py/h2o/model/binomial.py
Labels: docs

#4246 PUBDEV-7222: custom_metric_func not supported in GLM
  h2o-docs/src/product/data-science/algo-params/custom_metric_func.rst
  h2o-docs/src/product/data-science/algo-params/upload_custom_metric.rst
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#4216 PUBDEV-7204: GridSearch over TE parameters is not working
  h2o-core/src/main/java/hex/ModelBuilder.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoderBuilder.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoderModel.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/strategy/TargetEncoderRGSTest.java
Labels: please review

#4238 PUBDEV-6745 - H2O Frame does not escape double quotes for CSV format
  h2o-core/src/main/java/water/fvec/Frame.java
  h2o-r/tests/testdir_misc/runit_as.frame.R
Labels: please review

#4243 PUBDEV-7190 - Add H2O import folder support to GCS
  h2o-hadoop-common/tests/python/pyunit_gcs_import.py
  h2o-persist-gcs/build.gradle
  h2o-persist-gcs/src/main/java/water/persist/PersistGcs.java
Labels: please review

#4250 Updates for newer version of Sphinx and new extension
  h2o-py/test-requirements.txt
Labels: Build

#4192 PUBDEV-7076: Python docs: add examples for Grid Search
  h2o-py/h2o/grid/grid_search.py
Labels: docs

#4270 PUBDEV-7239: In AutoML, multinode XGBoost is now turned on by default
  h2o-docs/src/product/automl.rst
Labels: docs
