Repository h2oai/h2o-3, pull requests merged in 2021-10, with the labels that each got.

#5797 PUBDEV-8357: Improve error messages in Explain module
  h2o-py/h2o/explanation/_explain.py
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/h2o-package/R/explain.R
  h2o-r/tests/testdir_misc/runit_explain.R
Labels: please review, python, R

#5785 PUBDEV-8349: Fix infinite loop in hex.grid.HyperSpaceWalker.RandomDiscreteValueWalker
  h2o-core/src/main/java/hex/grid/GridSearch.java
  h2o-core/src/main/java/hex/grid/HyperSpaceWalker.java
  h2o-core/src/test/java/hex/HyperSpaceWalkerTest.java
Labels: core

#5783 PUBDEV-8340: optional SEs are ignored in AutoML
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-py/tests/testdir_algos/automl/pyunit_automl_args.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_memory_cleanup.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_model_selection.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_params_attributes.py
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/tests/testdir_algos/automl/runit_automl_args.R
  h2o-r/tests/testdir_algos/automl/runit_automl_model_selection.R
  h2o-r/tests/testdir_misc/runit_explain.R
Labels: AutoML

#5781 PUBDEV-8343: expose AutoML get_leaderboard as a method in Py
  h2o-py/h2o/automl/_base.py
  h2o-py/h2o/automl/_estimator.py
  h2o-py/h2o/automl/_output.py
  h2o-py/h2o/automl/autoh2o.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_leaderboard.py
Labels: python, AutoML

#5803 Fix explain tests [nocheck]
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/tests/testdir_misc/runit_explain.R
Labels: python, R

#5796 PUBDEV-8355: Updated AutoML params definitions to match User Guide
  h2o-py/h2o/automl/_estimator.py
  h2o-r/h2o-package/R/automl.R
Labels: docs
