Repository h2oai/h2o-3, pull requests merged in 2021-09, with the labels that each got.

#5422 PUBDEV-8053: Update Java Links to singular place in the documentation & add info about Java requirements [nocheck]
  README.md
  h2o-algos/src/main/java/hex/tree/DHistogram.java
  h2o-docs/src/product/aws.rst
  h2o-docs/src/product/cloud-integration/ec2-and-s3.rst
  h2o-docs/src/product/faq/general-troubleshooting.rst
  h2o-docs/src/product/faq/general.rst
  h2o-docs/src/product/howto/H2O-DevS3Creds.md
  h2o-docs/src/product/welcome.rst
  h2o-py/h2o/backend/server.py
  h2o-r/h2o-package/R/connection.R
Labels: docs

#5643 PUBDEV-8295: AutoML time budget redistribution
  h2o-automl/src/main/java/ai/h2o/automl/AutoML.java
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStep.java
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStepsExecutor.java
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStepsRegistry.java
  h2o-automl/src/main/java/ai/h2o/automl/WorkAllocations.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/DRFStepsProvider.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/DeepLearningStepsProvider.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/GBMStepsProvider.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/GLMStepsProvider.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/XGBoostSteps.java
  h2o-automl/src/test/java/ai/h2o/automl/AutoMLTest.java
  h2o-automl/src/test/java/ai/h2o/automl/ModelingStepRegistryTest.java
  h2o-automl/src/test/java/ai/h2o/automl/ModelingStepTest.java
  h2o-automl/src/test/java/ai/h2o/automl/ModelingStepsExecutorTest.java
  h2o-docs/src/product/automl.rst
  h2o-py/h2o/automl/autoh2o.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_args.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_interpretability.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_memory_cleanup.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_model_selection.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_params_attributes.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_reruns.py
  h2o-py/tests/testdir_sklearn/pyunit_sklearn_automl_pipeline.py
  h2o-r/h2o-package/R/automl.R
  h2o-r/tests/testdir_algos/automl/runit_automl_args.R
  h2o-r/tests/testdir_algos/automl/runit_automl_model_selection.R
Labels: AutoML

#5638 PUBDEV-8290: Fix explain bugs
  h2o-py/h2o/explanation/_explain.py
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/h2o-package/R/explain.R
  h2o-r/tests/testdir_misc/runit_explain.R
Labels: please review, python, R

#5623 PUBDEV-8261: Added loss function equations for each distribution to Docs [nocheck]
  h2o-docs/src/product/data-science/algo-params/distribution.rst
Labels: docs

#5648 PUDBDEV-8282: Added documentation for H2O Maximum R Improvements to GLM [nocheck]
  h2o-docs/src/product/data-science.rst
  h2o-docs/src/product/data-science/maxrglm.rst
Labels: docs

#5662 PUBDEV-8319: Implement a java-self-check to allow community users run on latest Java
  h2o-app/src/main/java/water/H2OApp.java
  h2o-core/src/main/java/water/H2O.java
  h2o-core/src/main/java/water/HeartBeat.java
  h2o-core/src/main/java/water/JavaSelfCheck.java
  h2o-core/src/main/java/water/JavaVersionSupport.java
  h2o-core/src/test/java/water/JavaSelfCheckTest.java
  h2o-py/h2o/backend/server.py
  h2o-py/tests/testdir_apis/H2O_Init/h2o.init_test.py
  h2o-r/h2o-package/R/connection.R
  h2o-r/tests/testdir_jira/h2o.init_test_HOQE-16.R
Labels: 4RELEASE

#5076 PUBDEV-7855: Make varimp feature consolidation more robust
  h2o-py/h2o/explanation/_explain.py
  h2o-r/h2o-package/R/explain.R
Labels: python, R, 4RELEASE

#5256 PUBDEV-7958: Enable returning data from explain's varimp_heatmap and model_correlation_matrix
  h2o-docs/src/product/explain.rst
  h2o-py/h2o/explanation/__init__.py
  h2o-py/h2o/explanation/_explain.py
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/h2o-package/R/classes.R
  h2o-r/h2o-package/R/explain.R
  h2o-r/h2o-package/R/models.R
  h2o-r/tests/testdir_misc/runit_explain.R
Labels: please review, python, R

#5695 PUBDEV-8321: Spelling correction [nocheck]
  h2o-docs/src/product/automl.rst
Labels: docs

#5760 PUBDEV-8326: Fix matplotlib's 3.4 issue with one value in where argument in fill_between call
  h2o-py/h2o/model/model_base.py
Labels: please review, python

#5784 PUBDEV-8338: NPE if XGB disabled/not available
  h2o-automl/src/main/java/ai/h2o/automl/AutoMLSession.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-py/tests/pyunit_utils/utilsPY.py
  h2o-py/tests/testdir_algos/automl/pyunit_SMOKE_automl.py
  h2o-py/tests/testdir_algos/automl/regression/pyunit_automl_australia.py
  scripts/jenkins/Makefile.jenkins
  scripts/jenkins/groovy/defineTestStages.groovy
Labels: AutoML

#5782 PUBDEV-8342: show the stacktrace on Py client in case of ServerError
  h2o-py/h2o/backend/connection.py
  h2o-py/h2o/schemas/error.py
Labels: python

#5786 PUBDEV-8348: Update asfactor procedure documentation to show multiple column use [nocheck]
  h2o-docs/src/product/data-munging/change-column-type.rst
  h2o-py/h2o/frame.py
  h2o-r/h2o-package/R/frame.R
Labels: docs
