Repository h2oai/h2o-3, pull requests merged in 2021-04, with the labels that each got.

#5055 PUBDEV-7842: Fix SE's handling of training frame
  h2o-algos/src/main/java/hex/ensemble/StackedEnsemble.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-algos/src/main/java/hex/tree/SharedTree.java
  h2o-algos/src/test/java/hex/ensemble/StackedEnsembleTest.java
  h2o-core/src/main/java/hex/ModelBuilder.java
Labels: algos, please review

#5421 PUBDEV-8067: Add info about ability to export xlsx file from new addition .feature_interaction()
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/xgboost.rst
  h2o-py/h2o/model/model_base.py
  h2o-r/h2o-package/R/models.R
Labels: docs

#5408 Fix Stacked Ensemble with Multinomial GLM
  h2o-algos/src/main/java/hex/glm/GLMModel.java
  h2o-algos/src/test/java/hex/ensemble/StackedEnsembleTest.java
Labels: algos, please review

#5057 PUBDEV-7851: Add user friendly warning when missing ggplot2 in explainability module
  h2o-r/h2o-package/R/explain.R
Labels: R, please review

#5460 3.32.1.2 Release notes
  Changes.md
Labels: docs

#5420 PUBDEV-8027: Add interactions to GLM mojo
  h2o-algos/src/main/java/hex/glm/GLM.java
  h2o-algos/src/main/java/hex/glm/GLMModel.java
  h2o-algos/src/main/java/hex/glm/GLMMojoWriter.java
  h2o-algos/src/test/java/hex/glm/GLMMojoInteractionTestGaussian.java
  h2o-algos/src/test/java/hex/glm/GLMPlugValuesTest.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmMojoModelBase.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmMojoReader.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmMultinomialMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/glm/GlmOrdinalMojoModel.java
  h2o-py/tests/testdir_algos/glm/pyunit_glm_iteraction_MOJO_fail.py
  h2o-py/tests/testdir_javapredict/pyunit_pubdev_8027_glm_mojo_all_interaction_large.py
  h2o-py/tests/testdir_javapredict/pyunit_pubdev_8027_glm_mojo_cat_cat_interaction.py
  h2o-py/tests/testdir_javapredict/pyunit_pubdev_8027_glm_mojo_cat_num_interaction.py
  h2o-r/tests/testdir_javapredict/runit_PUBDEV_8027_multinomial_glm_mojo_interaction.R
Labels: please review
