Repository h2oai/h2o-3, pull requests merged in 2021-02, with the labels that each got.

#5265 PUBDEV-7981: 3.32.0.4 Release Notes
  Changes.md
Labels: docs

#5290 Change the automl eventlog tests to check for time difference instead of hour and day equality
  h2o-py/tests/testdir_algos/automl/pyunit_automl_event_log.py
  h2o-r/tests/testdir_algos/automl/runit_automl_event_log.R
Labels: R, python

#5264 PUBDEV-7917: Add checkpoint description to GLM
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#5326 PUBDEV-7984: Include license information in docs
  h2o-docs/src/product/welcome.rst
Labels: docs

#5330 Update deep learning documentation and log entry
  h2o-algos/src/main/java/hex/deeplearning/DeepLearningModelInfo.java
  h2o-docs/src/product/data-science/algo-params/categorical_encoding.rst
Labels: docs, please review

#5338 PUBDEV-8013: Make model@model$parameters$x report actual features
  h2o-py/h2o/explanation/_explain.py
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/h2o-package/R/kvstore.R
  h2o-r/tests/testdir_jira/runit_pubdev_8013.R
Labels: R, please review, python
