Repository h2oai/h2o-3, pull requests merged in 2021-03, with the labels that each got.

#5231 PUBDEV-7748: interactions support in Target Encoding
  build.gradle
  gradle/ubench.gradle
  h2o-algos/build.gradle
  h2o-bindings/bin/custom/R/gen_targetencoder.py
  h2o-bindings/bin/custom/python/gen_targetencoder.py
  h2o-extensions/target-encoder/build.gradle
  h2o-extensions/target-encoder/src/jmh/java/ai/h2o/targetencoding/interaction/CreateInteractionsBench.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/ColumnsMapping.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/EncodingsComponents.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoder.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoderHelper.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoderModel.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoderMojoWriter.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/interaction/CreateInteractionTask.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/interaction/InteractionSupport.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/interaction/InteractionsEncoder.java
  h2o-extensions/target-encoder/src/main/java/hex/schemas/TargetEncoderModelOutputV3.java
  h2o-extensions/target-encoder/src/main/java/hex/schemas/TargetEncoderV3.java
  h2o-extensions/target-encoder/src/main/resources/META-INF/services/water.api.Schema
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncoderFeatureInteractionTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncoderModelTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncoderMojoIntegrationTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncoderTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncodingExceptionsHandlingTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncodingHelperTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/interaction/InteractionSupportTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/interaction/InteractionsEncoderTest.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/targetencoder/ColumnsMapping.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/targetencoder/TargetEncoderMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/targetencoder/TargetEncoderMojoReader.java
  h2o-genmodel/src/test/java/hex/genmodel/algos/targetencoder/TargetEncoderMojoModelTest.java
  h2o-genmodel/src/test/java/hex/genmodel/easy/EasyPredictModelWrapperWithTargetEncodingTest.java
  h2o-py/h2o/estimators/targetencoder.py
  h2o-py/tests/testdir_algos/targetencoder/pyunit_targetencoder_model.py
  h2o-py/tests/testdir_algos/targetencoder/pyunit_targetencoder_training.py
  h2o-r/h2o-package/R/targetencoder.R
  h2o-test-support/src/main/java/water/TestUtil.java
Labels: API, Mojo, algos, please review

#5259 PUBDEV-7820: Add a `topbasemodel` attribute to AutoML
  h2o-automl/src/main/java/ai/h2o/automl/AutoML.java
  h2o-automl/src/main/java/ai/h2o/automl/leaderboard/AlgoName.java
  h2o-py/h2o/automl/_base.py
  h2o-py/h2o/automl/autoh2o.py
  h2o-py/tests/testdir_algos/automl/pyunit_automl_leaderboard.py
  h2o-r/h2o-package/R/automl.R
  h2o-r/tests/testdir_algos/automl/runit_automl_leaderboard.R
Labels: R, please review, python

#5370 [Docs] For include / exclude algos options, make it clear that algorithms in list are usable
  h2o-docs/src/product/data-science/algo-params/exclude_algos.rst
  h2o-docs/src/product/data-science/algo-params/include_algos.rst
Labels: docs

#5371 PUBDEV-8048: 3.32.0.5 Release Notes
  Changes.md
Labels: docs

#5312 PUBDEV-7988: added missing params to xgboost
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#5372 PUBDEV-8046: Fix matplotlib import error, unintentional switch to agg, figure cropping
  h2o-py/h2o/explanation/__init__.py
  h2o-py/h2o/explanation/_explain.py
Labels: 4RELEASE, please review, python

#5254 PUBDEV-7860: Add Thin Plate Regression Smoothers to GAM
  h2o-algos/src/main/java/hex/gam/GAM.java
  h2o-algos/src/main/java/hex/gam/GAMModel.java
  h2o-algos/src/main/java/hex/gam/GAMMojoWriter.java
  h2o-algos/src/main/java/hex/gam/GamSplines/ThinPlateDistanceWithKnots.java
  h2o-algos/src/main/java/hex/gam/GamSplines/ThinPlatePolynomialWithKnots.java
  h2o-algos/src/main/java/hex/gam/GamSplines/ThinPlateRegressionUtils.java
  h2o-algos/src/main/java/hex/gam/MatrixFrameUtils/AddCSGamColumns.java
  h2o-algos/src/main/java/hex/gam/MatrixFrameUtils/AddTPKnotsGamColumns.java
  h2o-algos/src/main/java/hex/gam/MatrixFrameUtils/GAMModelUtils.java
  h2o-algos/src/main/java/hex/gam/MatrixFrameUtils/GamUtils.java
  h2o-algos/src/main/java/hex/gam/MatrixFrameUtils/GenerateGamMatrixOneColumn.java
  h2o-algos/src/main/java/hex/schemas/GAMV3.java
  h2o-algos/src/main/java/hex/util/LinearAlgebraUtils.java
  h2o-algos/src/test/java/hex/gam/GamCVTest.java
  h2o-algos/src/test/java/hex/gam/GamMojoModelTest.java
  h2o-algos/src/test/java/hex/gam/GamTestPiping.java
  h2o-algos/src/test/java/hex/gam/GamThinPlateRegressionBasicTest.java
  h2o-bindings/bin/custom/R/gen_gam.py
  h2o-bindings/bin/custom/python/gen_gam.py
  h2o-core/src/main/java/hex/ModelMojoWriter.java
  h2o-core/src/main/java/water/util/ArrayUtils.java
  h2o-core/src/main/java/water/util/MathUtils.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/gam/GamMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/gam/GamMojoModelBase.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/gam/GamMojoReader.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/gam/GamUtilsThinPlateRegression.java
  h2o-genmodel/src/main/java/hex/genmodel/utils/ArrayUtils.java
  h2o-genmodel/src/main/java/hex/genmodel/utils/MathUtils.java
  h2o-py/h2o/estimators/gam.py
  h2o-py/tests/pyunit_utils/utilsPY.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7181_access_modelmetrics.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7366_gam_cross_validation_fold_assignment_modulo_multinomial_large.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_PUBDEV_7367_cartesian_gridsearch_subspaces_TP_CS_binomial.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_PUBDEV_7367_random_gridsearch_subspaces_TP_CS_binomial.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_PUBDEV_7367_random_gridsearch_subspaces_thin_plate_gaussian.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_TP_compare_R_results.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_cartesian_gridsearch_subspaces_TP_CS_binomial_dual_mode.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_random_gridsearch_subspaces_TP_CS_binomial_dual_mode.py
  h2o-py/tests/testdir_algos/gam/pyunit_PUBDEV_7860_thin_plate_multinomial_dual_mode.py
  h2o-py/tests/testdir_algos/xgboost/pyunit_xgboost_pojo.py
  h2o-py/tests/testdir_javapredict/pyunit_PUBDEV_7860_GAM_TP_CS_mojo_binomial.py
  h2o-py/tests/testdir_javapredict/pyunit_PUBDEV_7860_GAM_TP_mojo_fractionalbinomial.py
  h2o-r/h2o-package/R/gam.R
  h2o-r/h2o-package/R/models.R
  h2o-r/tests/testdir_algos/gam/runit_PUBDEV_7860_cartesian_gridsearch_gaussian_dual_model.R
  h2o-r/tests/testdir_algos/gam/runit_PUBDEV_7860_gam_tp_gaussian_dual_model.R
  h2o-r/tests/testdir_algos/gam/runit_PUBDEV_7860_randomdiscrete_gridsearch_gaussian_dual_model.R
  h2o-r/tests/testdir_algos/gam/runit_PUBDEV_8000_GAM_IOOB.R
  h2o-r/tests/testdir_javapredict/runit_PUBDEV_7860_binomial_gam_TP_CS_MOJO.R
Labels: 4RELEASE, API, algos, please review

#5386 PUBDEV-7992: Add more information about log files in User Guide
  h2o-docs/src/product/logs.rst
Labels: docs

#5351 PUBDEV-7968: Add missing metrics to GLM scoring history
  h2o-algos/src/main/java/hex/gam/GAMModel.java
  h2o-algos/src/main/java/hex/glm/GLM.java
  h2o-algos/src/main/java/hex/glm/GLMModel.java
  h2o-algos/src/main/java/hex/glm/GLMScoringInfo.java
  h2o-algos/src/main/java/hex/glm/GLMUtils.java
  h2o-algos/src/main/java/hex/schemas/GLMV3.java
  h2o-algos/src/test/java/hex/glm/GLMCheckpointTest.java
  h2o-core/src/main/java/hex/ScoringInfo.java
  h2o-py/h2o/estimators/glm.py
  h2o-py/tests/pyunit_utils/utilsPY.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7481_lambda_alpha_array_gaussian_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_binomial_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_binomial_generate_scoring_history_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_binomial_lambda_search_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_binomial_lambda_search_generate_scoring_history_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_gaussian_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_gaussian_generate_scoring_history_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_gaussian_lambda_search_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_gaussian_lambda_search_generate_scoring_history_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_multinomial_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_multinomial_generate_scoring_history_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_multinomial_lambda_search_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_multinomial_lambda_search_generate_scoring_history_cv.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_tomasF.py
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_7968_scoring_history_glm_tomasF2.py
  h2o-py/tests/testdir_misc/pyunit_glm_plot.py
  h2o-r/h2o-package/R/glm.R
Labels: 4RELEASE, please review

#5263 PUBDEV-7976: Add GAM documentation for thin plate regression
  h2o-docs/src/product/data-science/gam.rst
  h2o-docs/src/product/data-science/thin_plate_gam.rst
  h2o-docs/src/product/images/gam_beta.png
  h2o-docs/src/product/images/gam_c_matrix.png
  h2o-docs/src/product/images/gam_chi_matrix.png
  h2o-docs/src/product/images/gam_constraint.png
  h2o-docs/src/product/images/gam_decomp_obj.png
  h2o-docs/src/product/images/gam_decomposition.png
  h2o-docs/src/product/images/gam_t_matrix.png
  h2o-docs/src/product/images/ijth_element.png
Labels: docs

#5391 [PUBDEV-8069] Expose Actual Settings on EasyPredictModelWrapper
  h2o-genmodel/src/main/java/hex/genmodel/easy/EasyPredictModelWrapper.java
Labels: please review

#5356 PUBDEV-8032: Stacked Ensemble: Take logit of cvpreds before training the metalearner for classification
  h2o-algos/src/main/java/hex/ensemble/StackedEnsemble.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleMojoWriter.java
  h2o-algos/src/main/java/hex/schemas/StackedEnsembleV99.java
  h2o-algos/src/test/java/hex/ensemble/StackedEnsembleTest.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/ensemble/StackedEnsembleMojoModel.java
  h2o-genmodel/src/main/java/hex/genmodel/algos/ensemble/StackedEnsembleMojoReader.java
  h2o-py/h2o/estimators/stackedensemble.py
  h2o-py/tests/testdir_algos/stackedensemble/pyunit_stackedensemble_mojo.py
  h2o-r/h2o-package/R/stackedensemble.R
Labels: algos, please review

#5164 PUBDEV-7831: Add new learning curve plotting function/method
  h2o-algos/src/main/java/hex/ensemble/Metalearners.java
  h2o-bindings/bin/custom/R/gen_gam.py
  h2o-bindings/bin/custom/python/gen_gam.py
  h2o-core/src/main/java/hex/Model.java
  h2o-core/src/main/java/hex/ModelBuilder.java
  h2o-core/src/main/java/water/api/schemas3/ModelOutputSchemaV3.java
  h2o-py/h2o/estimators/gam.py
  h2o-py/h2o/explanation/__init__.py
  h2o-py/h2o/explanation/_explain.py
  h2o-py/h2o/model/model_base.py
  h2o-py/tests/testdir_misc/pyunit_explain.py
  h2o-r/h2o-package/R/explain.R
  h2o-r/h2o-package/R/gam.R
  h2o-r/tests/testdir_misc/runit_explain.R
Labels: 4RELEASE, R, please review, python

#5389 PUBDEV-7996: single_quote parse setup result param not forwarded to parser
  h2o-py/h2o/frame.py
  h2o-py/tests/testdir_misc/pyunit_import_upload_singlequoted.py
  h2o-r/h2o-package/R/parse.R
  h2o-r/tests/runitUtils/utilsR.R
  h2o-r/tests/testdir_misc/runit_import_upload_singlequoted.R
Labels: R, python

#5388 multi bug fixes for CSV parsing
  h2o-core/src/main/java/water/parser/CsvParser.java
  h2o-core/src/main/java/water/parser/Parser.java
  h2o-core/src/test/java/water/parser/CsvParserTest.java
  h2o-py/tests/testdir_misc/pyunit_import_upload_singlequoted.py
  h2o-test-support/src/main/java/water/TestUtil.java
Labels: core

#5402 Add metalearner transform documentation
  h2o-docs/src/product/data-science/algo-params/metalearner_transform.rst
  h2o-docs/src/product/data-science/stacked-ensembles.rst
  h2o-docs/src/product/parameters.rst
Labels: docs, please review

#5406 Fix SE AUTOMetalearner by removing alpha search
  h2o-algos/src/main/java/hex/ensemble/Metalearners.java
Labels: 4RELEASE

#5387 3.32.1.1 Release Notes
  Changes.md
Labels: docs
