Repository h2oai/h2o-3, pull requests merged in 2021-07, with the labels that each got.

#5558 PUBDEV-8224: Fix GLM GRADIENT_DESCENT_SQERR solver validation
  h2o-algos/src/main/java/hex/glm/GLM.java
Labels: please review

#5499 PUBDEV-8151: Added C++ support note to productionizing docs
  h2o-docs/src/product/mojo-quickstart.rst
Labels: docs

#5506 PUBDEV-8158: Add section on deleting objects in Flow [nocheck]
  h2o-docs/src/product/flow.rst
  h2o-docs/src/product/images/delete_frames.png
  h2o-docs/src/product/images/delete_models.png
Labels: docs

#5563 3.32.1.4 Release Notes [nocheck]
  Changes.md
Labels: docs

#5573 PUBDEV-8238: Update Changelog Format [nocheck]
  Changes.md
Labels: docs

#5343 PUBDEV-8015: Remove warning in Stacked Ensemble predict function about missing fold_column frame
  h2o-core/src/main/java/hex/Model.java
  h2o-r/tests/testdir_algos/stackedensemble/runit_stackedensemble_fold_column.R
Labels: algos, please review

#5569 PUBDEV-8233: Add StackedEnsembles To AutoML's Time Budget
  h2o-algos/src/main/java/hex/ensemble/StackedEnsemble.java
  h2o-algos/src/main/java/hex/ensemble/StackedEnsembleModel.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
Labels: AutoML, WIP

#5585 PUBDEV-8248: Update documentation in regards to SE time constraint behavior in AutoML
  h2o-automl/src/main/java/water/automl/api/schemas3/AutoMLBuildSpecV99.java
  h2o-docs/src/product/automl.rst
  h2o-py/h2o/automl/autoh2o.py
  h2o-r/h2o-package/R/automl.R
Labels: AutoML, docs, please review

#5507 [Docs] CoxPH example fix [nocheck]
  h2o-docs/src/product/data-science/coxph.rst
Labels: docs

#5548 PUBDEV-8190 : fix multinomial remove collinear columns failure
  h2o-algos/src/main/java/hex/glm/ComputationState.java
  h2o-algos/src/main/java/hex/glm/GLM.java
  h2o-algos/src/main/java/hex/glm/GLMModel.java
  h2o-algos/src/main/java/hex/glm/GLMTask.java
  h2o-algos/src/main/java/hex/optimization/OptimizationUtils.java
  h2o-py/tests/testdir_algos/glm/pyunit_pubdev_8190-remove-collinear-columns-multinomial_jeffP.py
Labels: please high-level review, please review
