Repository h2oai/h2o-3, pull requests merged in 2022-02, with the labels that each got.

#6053 [nocheck] lists of strings not represented the same way in Py2 and Py3
  h2o-py/h2o/automl/_estimator.py
  h2o-py/h2o/utils/compatibility.py
  h2o-py/tests/testdir_utils/pyunit_compatibility.py
Labels: python, AutoML

#6023 PUBDEV-8535: Clarify feasible intervals for tweedie power in documentation
  h2o-docs/src/product/data-science/algo-params/tweedie_power.rst
  h2o-docs/src/product/data-science/deep-learning.rst
  h2o-docs/src/product/data-science/gbm.rst
  h2o-docs/src/product/data-science/xgboost.rst
Labels: docs

#6056 PUBDEV-8569: Typo corrections for Admissible ML in user guide.
  h2o-docs/src/product/admissible.rst
Labels: docs

#6057 PUBDEV-8466: Added java requirement section for Hadoop
  h2o-docs/src/product/welcome.rst
Labels: docs

#6058 PUBDEV-8568: Use curl package in R client but keep RCurl as fallback
  h2o-r/h2o-DESCRIPTION.template
  h2o-r/h2o-package/R/communication.R
  h2o-r/tests/runitUtils/utilsR.R
Labels: please review, R

#6082 PUBDEV-8568: Use curl package in R client but keep RCurl as fallback (ssl fix)
  h2o-r/h2o-package/R/communication.R
Labels: R
