Repository h2oai/h2o-3, pull requests merged in 2022-10, with the labels that each got.

#6356 [nocheck] White list "checking for future file timestamps" in python
  scripts/validate_r_cmd_check_output.py
Labels: R

#6377 PUBDEV-8878: Fix DeepLearningEstimator autoencoder bug
  h2o-bindings/bin/custom/python/gen_deeplearning.py
  h2o-py/h2o/estimators/deeplearning.py
  h2o-py/tests/testdir_algos/deeplearning/pyunit_autoencoder_works.py
Labels: please review, python

#6365 PUBDEV-8870: added missing "introduction" headers
  h2o-docs/src/product/data-science/anova_glm.rst
  h2o-docs/src/product/data-science/coxph.rst
  h2o-docs/src/product/data-science/model_selection.rst
Labels: docs

#6366 PUBDEV-8767: Mention model explainability in performance and prediction for shap
  h2o-docs/src/product/performance-and-prediction.rst
Labels: docs

#6390 PUBDEV-8883: Added `build_glm_model` parameter to ModelSelection docs
  h2o-docs/src/product/data-science/model_selection.rst
Labels: docs

#6382 PUBDEV-8881: 3.38.0.2 Release Notes
  Changes.md
Labels: docs, 4RELEASE

#6381 PUBDEV-8879: removed SW booklet from download page
  h2o-dist/buildinfo.json
Labels: docs

#6362 PUBDEV-8869: Added optional `matplotlib` requirement for plotting in python
  h2o-dist/index.html
  h2o-docs/src/product/downloading.rst
Labels: docs
