Repository h2oai/h2o-3, pull requests merged in 2022-12, with the labels that each got.

#6444 PUBDEV-8928: Fixed broken blog internal links
  h2o-docs/src/product/blog-releases.rst
Labels: docs

#6445 PUBDEV-8929: added section on how to force an unsupported java version
  h2o-docs/src/product/welcome.rst
Labels: docs

#6440 PUBDEV-8924: Added info on missing values handling for IF and EIF
  h2o-docs/src/product/data-science/eif.rst
  h2o-docs/src/product/data-science/if.rst
Labels: docs

#6439 PUBDEV-8896: Remove COLLATE field and use @include to include generics
  h2o-r/h2o-DESCRIPTION.template
  h2o-r/h2o-package/R/models.R
Labels: R

#6069 PUBDEV-8577: GLM: limit number of iterations when training the final model after CV.
  h2o-algos/src/main/java/hex/glm/GLM.java
Labels: please review

#6451 PUBDEV-8940: Updated log likelihood for GLM negative binomial
  h2o-docs/src/booklets/v2_2015/source/GLMBooklet.tex
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#6457 PUBDEV-8948: Speed up negative binomial calculation
  h2o-algos/src/main/java/hex/glm/GLMTask.java
Labels: please review, algos
