Repository h2oai/h2o-3, pull requests merged in 2023-02, with the labels that each got.

#6442 PUBDEV-8112: Add learning curve plot to explain
  h2o-py/h2o/explanation/_explain.py
  h2o-r/h2o-package/R/explain.R
Labels: please review, python, R

#6479 PUBDEV-8975: added section on regression influence diagnostic
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#6483 PUBDEV-8981: Add information on GLM dispersion estimation using maximum likelihood method for the negative binomial family
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#6486 PUBDEV-8993: 3.40.0.1 Release Notes
  Changes.md
Labels: docs

#6488 PUBDEV-8990: Added documentation on how to connect to H2O cluster by Name
  h2o-docs/src/product/starting-h2o.rst
Labels: docs

#6490 PUBDEV-8998: Fix numpy in fairness
  h2o-py/h2o/model/extensions/fairness.py
Labels: python
