Repository h2oai/h2o-3, pull requests merged in 2024-02, with the labels that each got.

#16001 GH-15915: Craft MS Examples
  h2o-bindings/bin/custom/python/gen_modelselection.py
  h2o-py/h2o/estimators/model_selection.py
Labels: docs

#16040 GH-15856: Grid pipeline support
  h2o-algos/src/main/java/hex/glm/GLMModel.java
  h2o-algos/src/test/java/hex/grid/GridTest.java
  h2o-algos/src/test/java/hex/grid/SequentialWalkerTest.java
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStep.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/XGBoostSteps.java
  h2o-core/src/main/java/hex/Model.java
  h2o-core/src/main/java/hex/ModelParametersBuilderFactory.java
  h2o-core/src/main/java/hex/ModelParametersDelegateBuilderFactory.java
  h2o-core/src/main/java/hex/ModelParametersGenericBuilderFactory.java
  h2o-core/src/main/java/hex/faulttolerance/Recovery.java
  h2o-core/src/main/java/hex/grid/Grid.java
  h2o-core/src/main/java/hex/grid/GridSearch.java
  h2o-core/src/main/java/hex/grid/HyperSpaceWalker.java
  h2o-core/src/main/java/hex/grid/SimpleParametersBuilderFactory.java
  h2o-core/src/main/java/hex/pipeline/ModelParametersGenericPipelineBuilderFactory.java
  h2o-core/src/main/java/hex/schemas/GridSearchSchema.java
  h2o-core/src/main/java/water/api/GridSearchHandler.java
  h2o-core/src/main/java/water/util/PojoUtils.java
  h2o-core/src/test/java/hex/HyperSpaceWalkerTest.java
  h2o-extensions/target-encoder/src/test/java/ai/h2o/targetencoding/TargetEncoderRGSTest.java
  h2o-py/tests/testdir_algos/glm/pyunit_PUBDEV_8150_warning_alpha_grid.py
  h2o-test-accuracy/src/test/java/water/TestCase.java
Labels: grid

#16041 GH-15857: AutoML pipeline support
  h2o-automl/src/main/java/ai/h2o/automl/AutoML.java
  h2o-automl/src/main/java/ai/h2o/automl/AutoMLBuildSpec.java
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStep.java
  h2o-automl/src/main/java/ai/h2o/automl/ModelingStepsExecutor.java
  h2o-automl/src/main/java/ai/h2o/automl/StepResultState.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/StackedEnsembleStepsProvider.java
  h2o-automl/src/main/java/ai/h2o/automl/modeling/XGBoostSteps.java
  h2o-automl/src/main/java/ai/h2o/automl/preprocessing/PreprocessingStep.java
  h2o-automl/src/main/java/ai/h2o/automl/preprocessing/PreprocessingStepDefinition.java
  h2o-automl/src/main/java/ai/h2o/automl/preprocessing/TargetEncoding.java
  h2o-automl/src/main/java/water/automl/api/schemas3/AutoMLBuildSpecV99.java
  h2o-automl/src/test/java/ai/h2o/automl/AutoMLTest.java
  h2o-automl/src/test/java/ai/h2o/automl/preprocessing/PipelineIntegrationTest.java
  h2o-automl/src/test/java/ai/h2o/automl/preprocessing/TargetEncodingTest.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/TargetEncoderModel.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/pipeline/transformers/FeatureInteractionTransformer.java
  h2o-extensions/target-encoder/src/main/java/ai/h2o/targetencoding/pipeline/transformers/TargetEncoderFeatureTransformer.java
Labels: AutoML, targetEncoder

#16080 GH-16079: Update warning regarding multithreading in H2OFrame.as_data_frame
  h2o-py/h2o/frame.py
  h2o-r/h2o-package/R/pipeline.R
Labels: please review

#15931 GH-15930: Added missing comma in GLM example
  h2o-docs/src/product/data-science/glm.rst
Labels: docs

#16009 GH-16000: Fixed decision tree example
  h2o-docs/src/product/data-science/decision-tree.rst
Labels: docs

#15943 GH-15709: Craft Anova GLM Examples
  h2o-bindings/bin/custom/python/gen_anovaglm.py
  h2o-py/h2o/estimators/anovaglm.py
Labels: docs
